/* >>>>> FORGOT PASSWORD PAGE <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

////////////////////////////////////////
// Navbar
////////////////////////////////////////

#as-forgot-navbar {
    background-color: $as-dashboard-background-color;
    position: relative;
    font-family: $as-primary-font;
}

#as-navbar-logo img {
    width: 80%;
}

#as-register-text {
    color: $as-primary-color;
    padding-right: 1em;
}

#as-register-button {
    font-weight: 700;
}

////////////////////////////////////////
// Forgot Password Page Content
////////////////////////////////////////

#as-main-forgot-page {
    background-color: $as-dashboard-background-color;
    font-family: $as-primary-font;
    position: relative;
    //height: 100vh;
    color: #FFFFFF;
}

#as-forgot-background {
    background: url("/assets/img/login/ASLogo_025opacity.png") no-repeat center;
    background-size: 28em;
    height: 32em;
    transition: 0.4s ease-in-out;
}

#as-forgot-slogan {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;

    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#as-forgot-form-box {
    width: 80%;
    border: 1px solid $as-light-gray;
    border-radius: 0.2em;
    background-color: $as-secondary-color;
    margin-top: 3em;
}

#as-forgot-form-header {
    padding-top: 0.2em;
    padding-left: 0.5em;
    color: $as-primary-color;
}

#as-forgot-form-box img {
    width: 2.5em;
    position: relative;
    float: right;
    right: 5px;
}

#as-forgot-form-box hr {
    width: 95%;
    border-color: $as-primary-color;
}

#as-forgot-form-content {
    padding-top: 2.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#as-forgot-form-content mdc-text-field {
    background-color: $as-light-gray;
    width: 100%;
}

#as-forgot-form-content mdc-icon {
    color: #FFFFFF;
}

#as-forgot-form-content #as-forgot-button {
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
}

#as-forgot-button-div {
    text-align: center;
}

.as-helper-error {
    position: relative;
    color: #ff002e;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 10px;
}

////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                                MEDIA QUERIES                               //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

@media (max-width: 1370px) {
    
}

@media (max-width: 1200px) {
    #as-forgot-background {
        background-size: 22em;
    }

    #as-forgot-slogan {
        text-align: center;
        font-size: 1.8em;
        top: 45%;
    }

    #as-forgot-form-box {
        width: 100%;
        margin-top: 5em;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 400px) {
    
}


//
//MEDIA QUERY EXCEPTIONS FROM MATERIAL DESIGN FOR TABLET GRID LAYAOUT.
//

@media (max-width: 839px) {
    #as-navbar-logo img {
        width: 70%;
    }

    #as-register-text {
        font-size: 0.8em;
        padding-right: 0.9em;
    }

    #as-register-button {
        height: 2em;
        font-size: 0.8em;
    }

    #as-forgot-background {
        display: none;
    }

    #as-forgot-form-box {
        margin-top: 2em;
    }
}

//
//MEDIA QUERY EXCEPTIONS FROM MATERIAL DESIGN FOR PHONE GRID LAYAOUT.
//

@media (max-width: 479px) {
    #as-navbar-logo img {
        width: 60%;
    }
    #as-register-text {
        font-size: 0.6em;
        padding-right: 0.8em;
    }

    #as-register-button {
        height: 1.5em;
        font-size: 0.6em;
    }
}