<header id="as-forgot-navbar" class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" role="toolbar">
        <a routerLink="/"><span id="as-navbar-logo"><img src="/assets/img/login/ASnavbar.png" alt="Arena Stack" /></span></a>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <span id="as-register-text">Not registered yet?</span>
        <button id="as-register-button" routerLink="/auth/register" class="mdc-button mdc-button--outlined mdc-button--dense">
          <span class="mdc-button__label">REGISTER NOW</span>
        </button>
      </section>
    </div>
  </header>
  <div id="as-main-forgot-page" class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div id="as-forgot-background" class="mdc-layout-grid__cell--span-7-desktop">
          <div id="as-forgot-slogan">
            <p>WE ARE HERE</p>
            <p>TO <span style="color: #FF6D00;">HELP</span> YOU</p>
          </div>
        </div>
        <div id="as-forgot-form" class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div id="as-forgot-form-box">
            <div id="as-forgot-form-header" class="mdc-typography--headline6">
              <span>Forgot Password</span>
              <img src="/assets/img/login/ASLogo_025opacity.png" title="Arena Stack" alt="Arena Stack" />
            </div>
            <hr />
            <div id="as-forgot-form-content">
              <form (ngSubmit)="onSubmit()" [formGroup]="forgotForm">
                <mdc-text-field #inputEmail formControlName="email" type="text" label="Email" id="as-forgot-email" [mdcElevation]="5">
                  <mdc-icon mdcTextFieldIcon trailing>mail</mdc-icon>
                </mdc-text-field>
                <div class="as-helper-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>
                  <div *ngIf="email.errors.pattern">
                    Email must be a valid one
                  </div>
                  <div *ngIf="email.errors.minlength">
                    Email must be at least 5 characters long
                  </div>
                </div>
                <div id="as-forgot-button-div">
                  <button mdc-button primary id="as-forgot-button" [mdcElevation]="5">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>