<section id="as-profilesettings-form">
  <div class="mdc-layout-grid__inner mdc-elevation--z7" id="as-profile-settings">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-settings-title">
      <div mdcHeadline5>General Settings</div>
      <hr />
    </div>

    <div class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-settings-profile">
      <h1 mdcHeadline6>Profile</h1>
      <hr />
      <div id="as-profile-settings-profile-inputs">
        <mdc-text-field label="Name" (change)="onChangeName($event)" id="as-profile-settings-name" [mdcElevation]="5" style="display:none">
          <mdc-icon mdcTextFieldIcon trailing fontSet="fas" fontIcon="fa-user"></mdc-icon>
        </mdc-text-field>
        <button class="button-save" mdc-button outlined (click)="changeName()" style="display:none">Save</button>

        <mdc-text-field type="text" label="Surname" (change)="onChangeSurName($event)" id="as-profile-settings-surname" [mdcElevation]="5" style="display:none">
          <mdc-icon mdcTextFieldIcon trailing fontSet="fas" fontIcon="fa-user"></mdc-icon>
        </mdc-text-field>
        <button class="button-save" mdc-button outlined (click)="changeSurName()" style="display:none">Save</button>

        <p>Profile image</p>
        <input mdc-text-field type="file" name="profile-image" accept="image/*" id="as-profile-settings-profile-image" (change)="fileChangedImage($event)" [mdcElevation]="5" />

        <p>Banner image</p>
        <input mdc-text-field type="file" name="profile-banner" accept="image/*" id="as-profile-settings-profile-banner" (change)="fileChangedBanner($event)" [mdcElevation]="5" />

        <button (click)="changeBannerImage()" class="button-save" mdc-button outlined>Save</button>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-settings-social" style="display:none">
      <h1 mdcHeadline6>Social</h1>
      <hr />
      <div class="mdc-layout-grid__inner" id="as-profile-settings-social-rows">
        <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-settings-social-left">
          <mdc-text-field type="text" label="Twitch" id="as-profile-settings-twitch" [mdcElevation]="5">
            <mdc-icon mdcTextFieldIcon trailing fontSet="fab" fontIcon="fa-twitch"></mdc-icon>
          </mdc-text-field>
          <button class="button-save-right" mdc-button outlined>Save</button>

          <mdc-text-field type="text" label="Twitter" id="as-profile-settings-twitter" [mdcElevation]="5">
            <mdc-icon mdcTextFieldIcon trailing fontSet="fab" fontIcon="fa-twitter"></mdc-icon>
          </mdc-text-field>
          <button class="button-save-right" mdc-button outlined>Save</button>

          <mdc-text-field type="text" label="Instagram" id="as-profile-settings-instagram" [mdcElevation]="5">
            <mdc-icon mdcTextFieldIcon trailing fontSet="fab" fontIcon="fa-instagram"></mdc-icon>
          </mdc-text-field>
          <button class="button-save-right" mdc-button outlined>Save</button>

        </div>
        <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-settings-social-right">
          <mdc-text-field type="text" label="YouTube" id="as-profile-settings-youtube" [mdcElevation]="5">
            <mdc-icon mdcTextFieldIcon trailing fontSet="fab" fontIcon="fa-youtube"></mdc-icon>
          </mdc-text-field>
          <button class="button-save-right" mdc-button outlined>Save</button>

          <mdc-text-field type="text" label="Steam" id="as-profile-settings-steam" [mdcElevation]="5">
            <mdc-icon mdcTextFieldIcon trailing fontSet="fab" fontIcon="fa-steam"></mdc-icon>
          </mdc-text-field>
          <button class="button-save-right" mdc-button outlined>Save</button>

          <mdc-text-field type="text" label="Web Site" id="as-profile-settings-website" [mdcElevation]="5">
            <mdc-icon mdcTextFieldIcon trailing fontSet="fas" fontIcon="fa-globe-americas"></mdc-icon>
          </mdc-text-field>
          <button class="button-save-right" mdc-button outlined>Save</button>

        </div>
      </div>
    </div>

  </div>
</section>