/* >>>>> PROFILE SETTINGS <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-profilesettings-form {
    padding-bottom: 2em;
}

#as-profile-settings {
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    width: 85%;
    margin: 0 auto;
}

////////////////////////////////////////
// Profile
////////////////////////////////////////

#as-profile-settings-title div {
    color: #FFFFFF;
    font-weight: 700;
    font-family: $as-primary-font;
    padding-top: 0.5em;
}

#as-profile-settings-title hr {
    border-color: $as-light-gray;
}

#as-profile-settings-profile {
    width: 90%;
    margin: 0 auto;
}

#as-profile-settings-profile h1 {
    color: $as-primary-color;
}

#as-profile-settings-social hr {
    margin-bottom: 3em;
}

#as-profile-settings-social {
    width: 90%;
    margin: 0 auto;
}

#as-profile-settings-social h1 {
    color: $as-primary-color;
}

////////////////////////////////////////
// Social
////////////////////////////////////////

#as-profile-settings-name, #as-profile-settings-surname, 
#as-profile-settings-twitch, #as-profile-settings-twitter, #as-profile-settings-instagram, #as-profile-settings-youtube, #as-profile-settings-steam, 
#as-profile-settings-website {
    width: 100%;
    background-color: $as-light-gray;
}

#as-profile-settings-profile-image, #as-profile-settings-profile-banner {
    width: 95%;
    background-color: $as-light-gray;
    padding: 1em;
}

#as-profile-settings-name {
    margin-top: 2.5em;
}

#as-profile-settings-surname {
    margin-top: 3em;
}

#as-profile-settings-profile-inputs p {
    margin-block-start: 0.85em;
    margin-block-end: 0.85em;
    font-family: $as-primary-font;
}

////////////////////////////////////////
// Save button
////////////////////////////////////////

#as-profile-settings-name mdc-icon, #as-profile-settings-surname mdc-icon, #as-profile-settings-profile-image mdc-icon, #as-profile-settings-profile-banner mdc-icon, 
#as-profile-settings-twitch mdc-icon, #as-profile-settings-twitter mdc-icon, #as-profile-settings-instagram mdc-icon, #as-profile-settings-youtube mdc-icon, #as-profile-settings-steam mdc-icon, 
#as-profile-settings-website mdc-icon {
    color: #FFFFFF;
}

////////////////////////////////////////
// Save button
////////////////////////////////////////

#as-profile-settings-save {
    margin: 0 auto;
}

#as-profile-settings-save button {
    font-weight: 700;
    font-family: $as-primary-font;
}

.button-save {
    margin-top: 1em;
}

.button-save-right {
    margin-top: 1em;
    margin-bottom: 3.3em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {
    #as-profile-settings-social-rows {
        display: block;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-profile-settings {
        margin-top: 9em;
    }
    
    #as-profile-settings-profile {
        width: 100%;
    }

    #as-profile-settings-social {
        width: 100%;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}