<div class="mdc-layout-grid__inner" id="as-profile-history">
  <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
    <table id="as-profile-history-table" class="mdc-elevation--z5">
      <tr class="as-profile-history-row-titles">
        <th>Game</th>
        <th>Gamemode</th>
        <th>Map</th>
        <th>Kills</th>
        <th>Assists</th>
        <th>Deaths</th>
        <th>KDR</th>
        <th>Headshots</th>
        <th>Headshots %</th>
        <th>Bet</th>
        <th>Price</th>
        <th>Result</th>
      </tr>
      
      <tr (click)="showMatch(data.match_id)" class="as-profile-history-row-data" *ngFor="let data of history">
        <td><img src="/assets/img/dashboard/versus/csgo-re-white.png" /></td>
        <td>5 vs 5</td>
        <td>{{data.map}}</td>
        <td>{{data.kills}}</td>
        <td>{{data.assists}}</td>
        <td>{{data.deaths}}</td>
        <td>{{(data.kills / (data.deaths == 0 ? 1 : data.deaths)) | number: '1.1-2'}}</td>
        <td>{{data.headshots}}</td>
        <td>{{((data.headshots / (data.kills == 0 ? 1 : data.kills))*100) | number: '2.1-2'}}</td>
        <td>0€</td>
        <td>{{data.bet}}</td>
        <td class="as-history-result" [ngClass]="data.team == data.winner ? 'as-history-win': 'as-history-lose'">{{data.team1_score}} / {{data.team2_score}}</td>
      </tr>
    </table>
  </div>
</div>

