/* >>>>> PROFILE HISTORY <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-profile-history {
    padding-left: 2em;
    padding-right: 2em;
}

#as-profile-history-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    font-family: $as-primary-font;
}

.as-profile-history-row-titles th {
    font-weight: 400;
}

#as-profile-history-table img {
    width: 5em;
    padding-top: 0.2em;
    //padding-bottom: 0.2em;
}

#as-profile-history-table th {
    border-bottom: 1px solid $as-light-gray;
    height: 1.7em;
}

#as-profile-history-table tr th:first-child {
    border-right: 1px solid $as-light-gray;
}

#as-profile-history-table tr td {
    border-bottom: 1px solid $as-light-gray;
}

#as-profile-history-table tr td:first-child {
    border-right: 1px solid $as-light-gray;
}

#as-profile-history-table tr:first-child:hover {
    background-color: $as-secondary-color;
}

#as-profile-history-table tr:hover {
    background-color: $as-light-gray;
}

.as-profile-history-row-data {
    text-transform: uppercase;
    cursor: pointer;
}

.as-history-win {
    color: $as-light-green;
}

.as-history-lose {
    color: $as-light-red;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1450px) {

}

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    #as-profile-history-table {
        font-size: 0.9em;
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-profile-history {
        margin-top: 9em;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    #as-profile-history-table {
        display: block;
        overflow: auto;
    }
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}