/* >>>>> CONTENT OF 5vs5 MATCH RESULTS <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-5vs5-match-results {
    color: #FFFFFF;
    font-family: $as-primary-font;
}

#fives-team1 {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

#fives-team2 {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
}

#fives-team1 hr, #fives-team2 hr {
    margin-bottom: 2em;
}

#fives-team1-name, #fives-team2-name {
    text-align: left;
}

#fives-team1-result, #fives-team2-result {
    text-align: right;
}

.fives-win {
    color: $as-light-green;
}

.fives-lose {
    color: $as-light-red;
}

.fives-tables {
    overflow-x: auto;
}

.as-fives-both-results-table {
    width: 100%;
    border-radius: 0.3em;
    border-collapse: collapse;
    background-color: $as-sos-gray;
    overflow: auto;
}

.fives-results-row-titles div {
    font-weight: 700;
}

.as-fives-both-results-table tr:nth-child(even) {
    background-color: $as-secondary-color;
}

.as-fives-both-results-table tr:last-child td:first-child { border-bottom-left-radius: 0.3em; }
.as-fives-both-results-table tr:last-child td:last-child { border-bottom-right-radius: 0.3em; }

.as-fives-both-results-table th, .as-fives-both-results-table td {
    text-align: center;
}

.as-fives-both-results-table th {
    text-align: center;
}

.fives-results-row-data img {
    width: 2.5em;
    height: 2.5em;
}

#fives-team1-stk, #fives-team2-stk {
    color: $as-primary-color;
}

#fives-team1-stk, #fives-team2-stk {
    text-align: left;
    padding-left: 2em;
}

#fives-play-again-button {
    text-align: center;
}

#fives-play-again-button a {
    font-weight: 700;
    font-size: 1.6em;
    padding: 1em;
    box-shadow: 0em 0em 0.8em #FFFFFF;

    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1460px) {

}

@media (max-width: 1400px) {
    
}

@media (max-width: 1330px) {
    
}

@media (max-width: 1250px) {
    
}

@media (max-width: 1024px) {

}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #fives-team1-name, #fives-team2-name , #fives-team1-stk, #fives-team1-result, #fives-team2-result {
        text-align: center;
    }

    #fives-team1-stk, #fives-team2-stk {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 590px) {

}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    #fives-team1 {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    #fives-team2 {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (max-width: 400px) {
    
}