<div id="as-lobby-game" class="mdc-layout-grid__inner" [mdcElevation]="10">

</div>

<div id="as-lobby-stats" class="mdc-layout-grid__inner" [mdcElevation]="10">
    <div id="title-stats" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <ng-container *ngIf="!ifMapSelected">
            <div id="as-lobby-title" mdcHeadline4>SELECT MAP</div>
        </ng-container>
        <ng-container *ngIf="ifMapSelected">
            <div id="as-lobby-title" mdcHeadline4>
                <ng-container *ngIf="game_mode == 'ones'">
                    <span>1 vs 1</span>
                </ng-container>
                <ng-container *ngIf="game_mode == 'twos'">
                    <span>2 vs 2</span>
                </ng-container>
                <ng-container *ngIf="game_mode == 'fives'">
                    <span>5 vs 5</span>
                </ng-container>
                <ng-container *ngIf="game_mode == 'FFA'">
                    <span id="lobby-ffa">FFA</span>
                </ng-container>
            MATCH</div>
        </ng-container>
        <hr />
    </div>
    <ng-container *ngIf="ifMapSelected">
        <div id="content-stats" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-layout-grid__inner">
                <div class="left-stats mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
                    <span>GAMEMODE</span>
                    <span>AMOUNT</span>
                    <span>PRIZE</span>
                    <span>MAP</span>
                </div>
                <div class="right-stats mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
                    <span>{{game_mode}}</span>
                    <span>0 STK</span>
                    <span>0 STK</span>
                    <span>{{map_selected$ | async}}</span>
                </div>
            </div>
            <hr />
            <div *ngIf="(ip_exists$ | async) == false" id="server-waitingip-box" class="mdc-layout-grid__inner">
                <div [ngClass]="ellipsis == true ? 'loading': ''" class="server-ip-text mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    {{waitingIp}}
                </div>
            </div>
            <div *ngIf="(ip_exists$ | async) == true" id="server-ip-box" class="mdc-layout-grid__inner">
                <div class="server-ip-help mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-phone">
                    <i class="far fa-question-circle"></i>
                </div>
                <div id="icon-info-box" class="animated fadeIn">
                    <div mdcHeadline6>INFO</div>
                    <hr />
                    <p class="text-info">Copy the following command and paste it in the csgo console to join the match.</p>
                </div>
                <div class="server-ip-text mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone">
                    SERVER IP
                </div>
                <div class="server-ip mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
                    {{ip$ | async}}
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!ifMapSelected">
        <div id="as-selector-map" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="mdc-layout-grid__inner">
                <div class="box-left mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                    <div *ngFor="let map of mapsLeftName" (click)="mapSelected(map.name)" [ngClass]="map.selected? 'box-map-select box-map-activated' : 'box-map-select'" >
                        <p>{{map.label}}</p>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                    <div id="timer">
                        <div *ngFor="let a of counter" [ngClass]="{'timer-charge-activated': a == true, 'timer-charge': a == false}"></div>
                    </div> 
                </div>
                <div class="box-right mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                    <div *ngFor="let map of mapsRightName" (click)="mapSelected(map.name)" [ngClass]="map.selected? 'box-map-select box-map-activated' : 'box-map-select'" >
                        <p>{{map.label}}</p>
                    </div>
                </div> 
            </div>   
        </div>     
    </ng-container>
</div>
<div id="as-lobby-chat" class="mdc-layout-grid__inner" [mdcElevation]="10">
    <div id="chat-room" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <mdc-tab-bar (activated)="logTab($event)" [activeTabIndex]="0" [fade]="true">
            <mdc-tab-scroller>
                <mdc-tab>ALL</mdc-tab>
            </mdc-tab-scroller>
        </mdc-tab-bar>
        <ng-container [ngSwitch]="tabIndex">
            <ng-container *ngSwitchCase="0" id="chat-team">
                <div #scrollMe #test id="chat-team-room" class="scrollbar mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <div *ngFor="let message of messages$ | async" class="messages">
                        <div *ngIf="message.id == id">
                            <div class="mine messages">
                                <div class="message">
                                    {{message.message}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="message.id != id">
                            <div class="yours messages">
                                <div class="message">
                                    {{message.user}}: {{message.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="1" id="chat-all">
                <div #scrollMe id="chat-all-room" class="scrollbar mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <div *ngFor="let message of messages$ | async" class="messages">
                        <div *ngIf="message.id == id">
                            <div class="mine messages">
                                <div class="message">
                                    {{message.message}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="message.id != id">
                            <div class="yours messages">
                                <div class="message">
                                    {{message.user}}: {{message.message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <hr />
        <div id="chat-send-box" class="mdc-layout-grid__inner">
            <div id="glhf-box" class=" mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                <a class="glhf-button" mdc-button primary [mdcElevation]="10" (click)="sendText('GL&HF');">GL&HF</a>
            </div>
            <div id="sendtext-box" class=" mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
                <mdc-text-field #input (keyup.enter)="sendText(input.value); input.value = ''" type="text" autocomplete="off" outlined dense label="Type here..."></mdc-text-field>
            </div>
        </div>
    </div>
</div> 