/* >>>>> CONTENT OF STATS LOBBY PAGE <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-lobby-game {
    background-image: url("/assets/img/dashboard/versus/csgo-re-black.png");
    background-repeat: no-repeat;
    background-color: $as-primary-color;
    height: 9em;
    background-position: center;
    border-radius: 0.3em 0.3em 0 0;
}

#as-lobby-stats {
    //height: 22em;
    background-color: $as-secondary-color;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-radius: 0 0 0.3em 0.3em;
}

#as-lobby-stats #as-lobby-title {
    letter-spacing: 0.2em;
    font-family: $as-primary-font;
    color: $as-light-gray;
    text-align: center;
    padding-top: 0.3em;
    font-weight: 700;
}

#title-stats span {
    color: #FFFFFF;
    letter-spacing: 0;
}

#title-stats #lobby-ffa {
    letter-spacing: 0.2em;
}

#as-lobby-stats hr {
    border-color: #FFFFFF;
}

////////////////////////////////////////
// Map section
////////////////////////////////////////

.box-map-select {
    width: 10em;
    height: 2.8em;
    font-family: $as-primary-font;
    border-radius: 0.3em;
    background-color: $as-light-gray;
    color: #FFFFFF;
    margin-bottom: 1.1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-map-activated {
    background-color: $as-primary-color;
    color: #000000;
    font-weight: 700;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-charge-activated {
    background-color: $as-primary-color;
    border-radius: 0.3em;
    margin-bottom: 0.27em;
    height: 1.2em;
    width: 3.5em;
}

.timer-charge {
    background-color: $as-light-gray;
    border-radius: 0.3em;
    margin-bottom: 0.27em;
    height: 1.2em;
    width: 3.5em;
}

.box-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

////////////////////////////////////////
// Content section
////////////////////////////////////////

#as-lobby-server-status {
    color: #FFFFFF;
    font-family: $as-primary-font;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: fit-content;
}

#content-stats {
    //height: fit-content;
    font-family: $as-primary-font;
    color: #FFFFFF;
    font-weight: 700;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#content-stats mdc-linear-progress {
    margin-bottom: 1em;
    padding-top: 2.8em;
}

.left-stats {
    text-align: left;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    margin-bottom: 3em;
}

.left-stats span {
    margin-bottom: 0.3em;
}

.right-stats {
    text-align: right;
    color: $as-primary-color;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.right-stats span {
    margin-bottom: 0.3em;
}

#server-ip-box {
    padding-top: 0.5em;
    position: relative;
}

.server-iphelp {
    color: $as-primary-color;
}

.server-ip-text {
    color: $as-primary-color;
}

.server-ip {
    text-align: right;
}

#icon-info-box {
    width: 13em;
    color: white;
    background-color: #303030;
    padding: 0.5em;
    font-family: $as-primary-font;
    border-radius: 0.3em;
    border: 1px solid #595959;
    display: none;
    position: absolute;
    margin: 0 auto;
    margin-left: 1em;
    bottom: 2em;
    left: -2em;
    animation-play-state: paused;
}

#icon-info-box > div {
    color: $as-primary-color;
    text-align: center;
}

.text-info {
    font-size: 0.8em;
    text-align: justify;
}

.server-ip-help {
    color: $as-primary-color;
}

.server-ip-help:hover + #icon-info-box {
    display: inline-block;
    animation-play-state: running;
}

#server-waitingip-box {
    padding-top: 0.5em;
    text-align: center;
}

.loading {
    font-size: 16px;
}
  
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
    animation: ellipsis steps(4,end) 2000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
} 
  
@keyframes ellipsis {
    to {
    width: 1em;    
    }
}
  
@-webkit-keyframes ellipsis {
    to {
        width: 1em;    
    }
}

////////////////////////////////////////
// Chat section
////////////////////////////////////////

#as-lobby-chat {
    background-color: $as-secondary-color;
    margin-top: 1em;
    color: #FFFFFF;
    border-radius: 0.3em;
}

#as-lobby-chat hr {
    border-color: $as-light-gray;
}

#chat-team-room {
    height: 12em;
    padding-left: 1em;
    padding-right: 1em;
}

#chat-team-room::-webkit-scrollbar-track {
	border-radius: 0.3em;
	background-color: $as-light-gray;
}

#chat-team-room::-webkit-scrollbar {
	width: 0.7em;
}

#chat-team-room::-webkit-scrollbar-thumb {
	border-radius: 0.3em;
	background-color: $as-primary-color;
}

.scrollbar {
	overflow-y: scroll;
}

#chat-all-room {
    height: 12em;
    padding-left: 1em;
    padding-right: 1em;
}

#chat-all-room::-webkit-scrollbar-track {
	border-radius: 0.3em;
	background-color: $as-light-gray;
}

#chat-all-room::-webkit-scrollbar {
	width: 0.7em;
}

#chat-all-room::-webkit-scrollbar-thumb {
	border-radius: 0.3em;
	background-color: $as-primary-color;
}

#chat-send-box {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

#glhf-box {
    display: flex;
    align-items: center;
}

.glhf-button {
    font-family: $as-primary-font;
    font-weight: 700;
}
  
.messages {
    display: flex;
    flex-direction: column;
}
  
.message {
    border-radius: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    display: inline-block;
    font-family: $as-primary-font;
}
  
.yours {
    align-items: flex-start;
}
  
.yours .message {
    margin-right: 25%;
    background-color: $as-light-gray;
    position: relative;
}
  
.mine {
    align-items: flex-end;
}

.mine .message {
    background: $as-light-orange-color;
    color: #000000;
    font-weight: 700;
}

#sendtext-box mdc-text-field {
    @include mdc-text-field-outline-color($as-primary-color);
    width: 100%;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1570px) {
    .box-map-select {
        width: 9em;
    }
}

@media (max-width: 1460px) {

}

@media (max-width: 1400px) {
    
}

@media (max-width: 1330px) {
    
}

@media (max-width: 1250px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 590px) {

}

@media (max-width: 570px) {
    .box-map-select {
        width: 8em;
    }
}

@media (max-width: 530px) {
    .box-map-select {
        width: 7em;
    }

    .timer-charge-activated {
        width: 3em;
    }
    
    .timer-charge {
        width: 3em;
    }
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-lobby-stats {
        height: auto;
    }

    #timer {
        flex-direction: row;
        padding-bottom: 1em;
    }

    .box-map-select {
        width: 10em;
    }

    .timer-charge-activated {
        height: 3em;
        margin-right: 0.3em;
    }
    
    .timer-charge {
        height: 3em;
        margin-right: 0.3em;
    }

    .box-left {
        width: 100%;
        align-items: center;
    }
    
    .box-right {
        width: 100%;
        align-items: center;
    }

    #content-stats {
        padding-bottom: 1em;
    }

    .server-ip {
        text-align: left;
    }

    #glhf-box {
        display: none;
    }
}

@media (max-width: 400px) {
    
}