<header id="as-login-navbar" class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" role="toolbar">
      <a routerLink="/"><span id="as-navbar-logo"><img src="assets/img/login/ASnavbar.png" alt="Arena Stack" /></span></a>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <span id="as-register-text">Not registered yet?</span>
      <button id="as-register-button" routerLink="/auth/register" class="mdc-button mdc-button--outlined mdc-button--dense">
        <span class="mdc-button__label">REGISTER NOW</span>
      </button>
    </section>
  </div>
</header>
<div id="as-main-login-page" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div id="as-login-background" class="mdc-layout-grid__cell--span-7-desktop">
        <div id="as-login-slogan">
          <p>WHAT ARE</p>
          <p style="color: #FF6D00;">YOU</p>
          <p>WAITING FOR?</p>
        </div>
      </div>
      <div id="as-login-form" class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div id="as-login-form-box">
          <div id="as-login-form-header" class="mdc-typography--headline6">
            <span>Log in</span>
            <img src="/assets/img/login/ASLogo_025opacity.png" title="Arena Stack" alt="Arena Stack" />
          </div>
          <hr />
          <div id="as-login-form-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                  <mdc-text-field formControlName="email" type="text" label="Email" id="as-login-email" [mdcElevation]="5">
                    <mdc-icon mdcTextFieldIcon trailing>mail</mdc-icon>
                  </mdc-text-field>
                  <div id="as-login-email-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="email.errors.pattern">
                      Email must be a valid one
                    </div>
                    <div *ngIf="email.errors.minlength">
                      Email must be at least 5 characters long
                    </div>
                  </div>
                </div>
              
                <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                  <mdc-text-field (input)="reset();" formControlName="password" type="password" label="Password" id="as-login-password" [mdcElevation]="5">
                    <mdc-icon mdcTextFieldIcon trailing>lock</mdc-icon>
                  </mdc-text-field>
                  <div id="as-login-password-error">
                    <div *ngIf="validCredentials == false">
                      Credentials are not valid
                    </div>
                    <div *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors.pattern">
                        Password must contain at least one uppercase and one number
                      </div>
                      <div *ngIf="password.errors.minlength">
                        Password must be at least 8 characters long
                      </div>
                      <div *ngIf="password.errors.required">
                        Password is required.
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                  <a routerLink="/auth/forgot-password" id="as-login-forgot" target="_blank">Forgot password?</a>
                </div>

                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                  <mdc-form-field id="as-login-check-logged">
                    <mdc-checkbox></mdc-checkbox>
                    <label>Stay logged in</label>
                  </mdc-form-field>
                </div>

                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                  <button mdc-button primary id="as-login-button" [mdcElevation]="5">Log in</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>