<div id="test-store" mdcMenuSurfaceAnchor #testAnchor>
  <button class="animated infinite pulse" style="width: 150px;margin-right:10px;" (click)="testDebug.open = !testDebug.open" mdc-button raised>Notice me senpai</button>
  <mdc-menu-surface id="test-container" fixed="true" class="animated flipInY faster" [anchorMargin]="{top: 52, right: 0}" #testDebug fixed="false">
    <mdc-drawer drawer="dismissible" open=true>
      <mdc-drawer-header title="Yuno's debug tool"></mdc-drawer-header>
      <mdc-drawer-content>
        <mdc-list-divider></mdc-list-divider>
        <mdc-list>
          <mdc-list-item (click)="chooseYuno('session')">Session</mdc-list-item>
          <mdc-list-item routerLink="/home" (click)="chooseYuno('home')">Home</mdc-list-item>
          <mdc-list-item routerLink="/versus" (click)="chooseYuno('versus')">Versus</mdc-list-item>
          <mdc-list-item (click)="chooseYuno('dialog')">Dialog</mdc-list-item>
        </mdc-list>
      </mdc-drawer-content>
    </mdc-drawer>
    <div mdcDrawerAppContent id="yuno-content">
      <ng-container [ngSwitch]="barChosen">
        <ng-container *ngSwitchCase="'session'">
          <button (click)="log_in()" mdc-button primary>LOGIN</button>
          <button (click)="logOut()" mdc-button primary>LOGOUT</button>
        </ng-container>
        <ng-container *ngSwitchCase="'home'">
          <!--<button (click)="notification()" mdc-button primary>not</button>-->
          <p>Nothing to do here gtfout</p>
        </ng-container>

        <ng-container *ngSwitchCase="'dialog'">
          <button (click)="testDialog('askher', 'ffa')" mdc-button primary>Accept FFA</button>
          <button (click)="testDialog('askher', 'fives')" mdc-button primary>Accept 5v5</button>
          <button (click)="testDialog('askher', 'twos')" mdc-button primary>Accept 2v2</button>
          <button (click)="testDialog('askher', 'ones')" mdc-button primary>Accept 1v1</button>
          <button (click)="testDialog('invite-friends')" mdc-button primary>Invite friend</button>
          <button (click)="testDialog('questionary')" mdc-button primary>Questionary</button>
          <button (click)="closeDialog()" mdc-button primary>Close</button>
        </ng-container>

        <ng-container *ngSwitchCase="'versus'">
          <mdc-tab-bar useAutomaticActivation>
            <mdc-tab-scroller>
              <mdc-tab [label]="Index">Index</mdc-tab>
              <mdc-tab [label]="Lobby">Lobby</mdc-tab>
              <mdc-tab [label]="Result">Result</mdc-tab>
            </mdc-tab-scroller>
          </mdc-tab-bar>
            <mdc-form-field [formGroup]="senpai">
              <mdc-list style="width:380px;">
                <mdc-list-item *ngIf="is_logged">
                  <button (click)="enterLobby()" mdc-button raised secondary>Enter Lobby!</button>
                </mdc-list-item>
                <mdc-radio-group formControlName="lobby_type">
                  <mdc-list-item *ngIf="senpai.value.lobby">
                    <mdc-radio value="solo"></mdc-radio>
                    <label>1v1</label>
                  </mdc-list-item>
                  <mdc-list-item *ngIf="senpai.value.lobby">
                    <mdc-radio value="duo"></mdc-radio>
                    <label>2v2</label>
                  </mdc-list-item>
                  <mdc-list-item *ngIf="senpai.value.lobby">
                    <mdc-radio value="squad"></mdc-radio>
                    <label>5v5</label>
                  </mdc-list-item>
                  <mdc-list-item *ngIf="senpai.value.lobby">
                    <mdc-radio  value="ffa"></mdc-radio>
                    <label>FFA</label>
                  </mdc-list-item>
                </mdc-radio-group>
                <mdc-radio-group formControlName="lobby_phase">
                  <mdc-list-item *ngIf="senpai.value.lobby_type != ''">
                    <mdc-radio value="map-select"></mdc-radio>
                    <label>Map select</label>
                    <button style="margin-left: 10px;" mdc-button raised secondary>
                      Start Counter
                    </button>
                  </mdc-list-item>
                  <mdc-list-item *ngIf="senpai.value.lobby_type != ''">
                    <mdc-radio value="info"></mdc-radio>
                    <label>Info</label>
                  </mdc-list-item>
                  <mdc-list-item *ngIf="senpai.value.lobby_type != ''">
                    <mdc-radio value="result"></mdc-radio>
                    <label>End match</label>
                  </mdc-list-item>
                  
                </mdc-radio-group>
                <mdc-list-item *ngIf="senpai.value.lobby">
                  <button (click)="test_wannaPlay();" raised mdc-button secondary>
                    Test modal lobby
                  </button>
                </mdc-list-item>
                <mdc-list-item>
                  <button (click)="exitLobby()" mdc-button raised secondary>
                    Exit lobby
                  </button>
                </mdc-list-item>
                <mdc-list-item>
                  <button (click)="logOut()" mdc-button raised secondary>
                    Clear storage
                  </button>
                </mdc-list-item>
              </mdc-list>
            </mdc-form-field>
        </ng-container>

      </ng-container>

    </div>
    <h3 style="margin-left: 10px; margin-bottom: 0px;">Yuno debug tool v1.0</h3>
    
  </mdc-menu-surface>
  
</div>