#test-store {
    position: fixed;
    z-index: 999;
    left: 30px;
    top: 10px;
    width: max-content;
    margin-left: 0px;
}

#test-container {
    background: url("/assets/img/dashboard/yuki.jpg");
    //background-size: cover;
    height: 500px;
    width: 800px;
}