<div id="as-home" class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div id="slider" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <img src="/assets/img/dashboard/home/ffa5v5.png" [mdcElevation]="5">
    </div>
  </div>
  <div id="news-content" class="mdc-layout-grid__inner">
    <div id="left-column" class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="big-notice-box-left" class="as-center mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="5">
        <button routerLink="/versus" mdc-button raised [mdcElevation]="5">PLAY NOW!</button>
      </div>

      <div class="mdc-layout-grid__inner">
        <div id="twitter-box" class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="5">
          <a class="twitter-timeline" data-lang="en" data-height="265" data-theme="dark" data-link-color="#ff6d00" href="https://twitter.com/ArenaStack?ref_src=twsrc%5Etfw">Tweets by ArenaStack</a>
        </div>
        <div id="small-notice-box" class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="5">
          <div id="text-forum" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <!--<div mdcHeadline5 class="orange-text">IF YOU HAVE</div>-->
            <div mdcHeadline5>SOME SUGGESTIONS?</div>
            <div mdcHeadline5 class="orange-text">GO TO OUR FORUM</div>
            <div mdcHeadline5>AND CHECK THE BLOG TOO</div>
          </div>
          <a id="button-a-forum" href="https://www.arenastack.com/forum/" target="_blank"><button id="button-forum" mdc-button dense outlined>FORUM</button></a>
          <a id="button-a-blog" href="https://www.arenastack.com/blog/" target="_blank"><button id="button-blog" mdc-button dense outlined>BLOG</button></a>
        </div>
      </div>

    </div>
    <div id="right-column" class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="time-to-end-beta" class="mdc-layout-grid__inner" [mdcElevation]="5">
        <div class="as-center mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://nekt-r.com/">
            <img class="p-nektr" src="/assets/img/dashboard/home/partners/nektr.png" />
          </a>
        </div>
        <div class="as-center mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://ziim.es/">
            <img class="p-ziim" src="/assets/img/dashboard/home/partners/ziim.png" />
          </a>
        </div>
        <div class="as-center mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://www.inov3games.com/">
            <img class="p-inovegames" src="/assets/img/dashboard/home/partners/inovegames.png" />
          </a>
        </div>
        <div class="as-center mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <a href="https://www.quonty.com/">
            <img class="p-quonty" src="/assets/img/dashboard/home/partners/quonty.png" />
          </a>
        </div>
      </div>
      <div id="big-notice-box-right" class="as-center mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="5">
        <img src="/assets/img/dashboard/home/tournament.png" />
      </div>
    </div>
  </div>
</div>