/* >>>>> HOME OF DASHBOARD <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-home {
    color: #FFFFFF;
    font-family: $as-primary-font;
}

.orange-text {
    color: $as-primary-color;
}

////////////////////////////////////////
// Carousel
////////////////////////////////////////

#slider-buttons {
    position: relative;
    bottom: 9%;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $as-light-gray;
    content: '';
    display: inline-block;
    visibility: visible;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: $as-primary-color;
    content: '';
    display: inline-block;
    visibility: visible;
}

#slider {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-bottom: 1.5em;
}

#slider figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider img {
    width: 100%;
    height: 13em;
    border-radius: 0.3em;
}

@keyframes slider {
    0% {
        left: 0;
    }
    27% {
        left: 0;
    }
    32% {
        left: -100%
    }
    59% {
        left: -100%;
    }
    64% {
        left: -200%;
    }
    95% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

.as-home-container {
    padding-left: 16px;
    color: #FFFFFF;
}

////////////////////////////////////////
// News section
////////////////////////////////////////



////////////////////////////////////////
// News section Left
////////////////////////////////////////

#big-notice-box-left {
    height: 19em;
    border-radius: 0.3em;
    //background-color: $as-secondary-color;
    background: url("/assets/img/dashboard/home/world-map2.gif") no-repeat;
    background-position: center center;
    background-size: cover;
}

#big-notice-box-left img {
    height: 19em;
    width: 100%;
    border-radius: 0.3em;
    //border: 1px solid #ff6d00;
    border-radius: 0.3em;
}

#big-notice-box-left button {
    transition: 0.2s;
    font-family: $as-landing-font;
    font-weight: 700;
    font-size: 3.5em;
    height: auto;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#small-notice-box {
    height: 16.4em;
    width: 100%;
    background-color: $as-secondary-color;
    margin-top: 1.5em;
    border-radius: 0.3em;
    text-align: center;
    //border: 1px solid $as-primary-color;
}

#text-forum {
    padding-top: 2em;
    height: 10em;
}

#text-forum div {
    font-weight: 700;
}

#button-a-forum, #button-a-blog {
    text-decoration: none;
}

#button-forum {
    transition: 0.2s;
    font-family: $as-landing-font;
    font-weight: 700;
    font-size: 1.2em;
    height: auto;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-right: 0.2em;
}

#button-blog {
    transition: 0.2s;
    font-family: $as-landing-font;
    font-weight: 700;
    font-size: 1.2em;
    height: auto;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-left: 0.2em;
}

#twitter-box {
    height: 16.5em;
    margin-top: 1.5em;
}

////////////////////////////////////////
// News section Right
////////////////////////////////////////

#timer {
    width: 100%;
}

#time-to-end-beta {
    height: 9em;
    margin-bottom: 1.5em;
    border-radius: 0.3em; 
    //display: flex;
    //align-items: center;
    background-color: $as-secondary-color;
    //border: 1px solid $as-primary-color;
    padding: 0.5em;
}

#time-to-end-beta .p-nektr {
    width: 8em;
}

#time-to-end-beta .p-ziim {
    width: 8em;
}

#time-to-end-beta .p-inovegames {
    width: 7em;
}

#time-to-end-beta .p-quonty {
    width: 7em;
}

#time-to-end-beta .date-time {
    font-size: 4em;
    padding-left: 0.5em;
    text-shadow: 0 0 0.1em #ff6d00;
}

#time-to-end-beta .date-text {
    color: $as-primary-color;
}

#time-date-box {
    margin-top: 1em;
    margin-left: 5em;
}

#text-date-box {
    margin-top: -1.5em;
    margin-left: 5em;
}

#timer-days {
    padding-left: 3.3em;
}

#timer-hours {
    padding-left: 4em;
}

#timer-mins {
    padding-left: 3.5em;
}

#timer-secs {
    padding-left: 2.7em;
}

#image-endbeta {
    //text-align: right;
    padding-right: 1em;
}

#big-notice-box-right {
    height: 23.3em;
    border-radius: 0.3em;
    background-color: $as-secondary-color;
    //border: 1px solid $as-primary-color;
    padding: 1em; 
}

#big-notice-box-right img{
    height: 95%;
    border-radius: 0.3em;
    width: 95%;
}

#text-roadmap {
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    height: 18em;
    position: relative;
    top: -26em;
}

#text-roadmap div {
    font-weight: 700;
}

.touppercase {
    text-transform: uppercase;
    font-size: 3em;
}

#slider-roadmap {
    position: relative;
    top: -25.5em; 
}

#slider-home-roadmap {
    width: 90%;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1200px) {
    #left-column {
        //@include mdc-layout-grid-cell-order(2);
        @include mdc-layout-grid-cell(desktop, 12, 0);
    }

    #right-column {
        //@include mdc-layout-grid-cell-order(1);
        @include mdc-layout-grid-cell(desktop, 12, 0);
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #time-to-end-beta {
        height: auto;
    }
}

@media (max-width: 930px) {
    #big-notice-box-left button {
        font-size: 2.5em;
    }
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    #slider {
        display: none;
    }
}