<div id="as-toastr" [style.display]="state.value === 'inactive' ? 'none' : ''">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-1-phone as-vcenter">
      <img class="as-toastr-img" src="{{avatar}}" />
    </div>
    <div class="mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-3-phone as-vcenter">
      {{user}} wants to add you!
    </div>
  </div>
</div>
