/* >>>>> FRIEND REQUEST <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

:host {
    background-color: $as-light-orange-color;
    font-family: $as-primary-font;
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 0.6em;
    width: 19.5em;
    height: 4em;
    border-radius: 0.3em;
    color: #000000 !important;
    pointer-events: all;
}

#as-toastr {
    margin-left: -2em;
    margin-top: -0.3em;
}

#as-toastr .as-toastr-img {
    border-radius: 0.2em;
    width: 2.8em;
    height: 2.8em;
}