/* >>>>> REGISTER PAGE <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

////////////////////////////////////////
// Navbar
////////////////////////////////////////

#as-register-navbar {
    background-color: $as-dashboard-background-color;
    position: relative;
    font-family: $as-primary-font;
}

#as-navbar-logo img {
    width: 80%;
}

#as-register-text {
    color: $as-primary-color;
    padding-right: 1em;
}

#as-register-button {
    font-weight: 700;
}

////////////////////////////////////////
// Login Page Content
////////////////////////////////////////

#as-main-register-page {
    background-color: $as-dashboard-background-color;
    font-family: $as-primary-font;
    position: relative;
    //height: 100vh;
    color: #FFFFFF;
}

#as-register-background {
    background: url("/assets/img/login/ASLogo_025opacity.png") no-repeat center;
    background-size: 28em;
    height: 32em;
    transition: 0.4s ease-in-out;
}

#as-register-slogan {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #FFFFFF;

    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
}

#as-register-form-box {
    width: 80%;
    border: 1px solid $as-light-gray;
    border-radius: 0.2em;
    background-color: $as-secondary-color;
    margin-top: 3em;
}

#as-register-form-header {
    padding-top: 0.2em;
    padding-left: 0.5em;
    color: $as-primary-color;
    padding-bottom: 1em;
}

#as-register-form-box img {
    width: 2.5em;
    position: relative;
    float: right;
    right: 5px;
}

#as-register-form-box hr {
    width: 95%;
    border-color: $as-primary-color;
}

#as-register-form-content {
    padding: 1em;
}

#as-register-name, #as-register-surname {
    margin-bottom: 1em;
}

#as-register-date, #as-register-gender {
    margin-bottom: 1em;
}

#as-register-currency, #as-register-country {
    margin-bottom: 1em;
}

#as-register-name, #as-register-surname, #as-register-date, #as-register-gender, #as-register-currency, #as-register-country {
    width: 100%;
}

#as-register-form-content mdc-text-field, #as-register-form-content mdc-select {
    background-color: $as-light-gray;
}

#as-register-form-content mdc-icon {
    color: #FFFFFF;
}

#as-register-gender option, #as-register-currency option, #as-register-country option {
    background-color: $as-light-gray;
    color: #FFFFFF;
}

#as-register-form-content hr {
    width: 100%;
    border-color: $as-primary-color;
    margin-bottom: 1.5em;
}

#as-register-username, #as-register-email, #as-register-password {
    width: 100%;
}

#as-register-form-content #as-register-username, #as-register-form-content #as-register-email {
    margin-bottom: 1em;
}

#as-register-form-last-row {
    padding-top: 1em;
}

#as-register-form-content #as-register-check-logged {
    margin-left: -0.8em;
    color: $as-primary-color;
}

#as-register-form-content #as-register-check-logged a {
    text-decoration: none;
    font-weight: 700;
    color: $as-primary-color;
}

#as-register-button-cell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#as-register-form-content #as-register-button {
    font-weight: 700;
    padding-left: 1em;
    padding-right: 1em;
}

#as-helper-name, #as-helper-surname, #as-helper-birthday, #as-helper-gender, #as-helper-currency, #as-helper-country, #as-helper-username, #as-helper-email {
    position: relative;
}

.as-helper-error {
    position: relative;
    color: #ff002e;
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 10px;
}

#as-helper-password {
    position: relative;
    color: #ff002e;
    font-weight: bold;
    font-size: 0.8em;
    top: 0.7em;
}

////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                                MEDIA QUERIES                               //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

@media (max-width: 1200px) {
    #as-register-background {
        background-size: 18em;
    }

    #as-register-slogan {
        text-align: center;
        font-size: 1.75em;
        top: 45%;
    }

    #as-register-form-box {
        width: 100%;
        margin-top: 3em;
    }

    #as-register-name, #as-register-surname, #as-register-date, #as-register-gender, #as-register-currency, #as-register-country {
        width: 100%;
    }

    #as-register-name, #as-register-date, #as-register-currency {
        margin-right: 0em;
    }
    #as-register-surname, #as-register-gender, #as-register-country {
        margin-left: 0em;
    }
}

@media (max-width: 1024px) {
    
}

//
//MEDIA QUERY EXCEPTIONS FROM MATERIAL DESIGN FOR TABLET GRID LAYAOUT.
//

@media (max-width: 839px) {
    #as-navbar-logo img {
        width: 70%;
    }

    #as-register-text {
        font-size: 0.8em;
        padding-right: 0.9em;
    }

    #as-register-button {
        height: 2em;
        font-size: 0.8em;
    }

    #as-register-background {
        display: none;
    }

    #as-register-form-box {
        margin-top: 2em;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 600px) {
    
}

//
//MEDIA QUERY EXCEPTIONS FROM MATERIAL DESIGN FOR PHONE GRID LAYAOUT.
//

@media (max-width: 479px) {
    #as-navbar-logo img {
        width: 60%;
    }
    #as-register-text {
        font-size: 0.6em;
        padding-right: 0.8em;
    }

    #as-register-button {
        font-size: 0.7em;
    }
}

@media (max-width: 400px) {
    
}