<header id="as-register-navbar" class="mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" role="toolbar">
      <a routerLink="/"><span id="as-navbar-logo"><img src="assets/img/login/ASnavbar.png" alt="Arena Stack" /></span></a>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <span id="as-register-text">Also registered? Log In!</span>
      <button id="as-register-button" routerLink="/auth/login" class="mdc-button mdc-button--outlined mdc-button--dense">
        <span class="mdc-button__label">LOG IN</span>
      </button>
    </section>
  </div>
</header>
<div id="as-main-register-page" class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div id="as-register-background" class="mdc-layout-grid__cell--span-7-desktop">
      <div id="as-register-slogan">
        <p>THE FUTURE OF THE</p>
        <p style="color: #FF6D00;">VIDEOGAMES</p>
        <p>STARTS HERE</p>
      </div>
    </div>

    <div id="as-register-form-box" class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div id="as-register-form-header" class="mdc-typography--headline6">
            <span>Register</span>
            <img src="/assets/img/login/ASLogo_025opacity.png" title="Arena Stack" alt="Arena Stack" />
          </div>
          <hr />
        </div>
      </div>
      <div id="as-register-form-content">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-text-field formControlName="name" type="text" label="Name" id="as-register-name" [mdcElevation]="5">
                <mdc-icon mdcTextFieldIcon trailing>person</mdc-icon>
              </mdc-text-field>
              <div class="as-helper-error" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                  Name must be at least 3 characters long
                </div>
                <div *ngIf="name.errors.maxlength">
                  Name cannot exceed 15 characters
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-text-field formControlName="surname" type="text" label="Surname" id="as-register-surname" [mdcElevation]="5">
                <mdc-icon mdcTextFieldIcon trailing>person</mdc-icon>
              </mdc-text-field>
              <div class="as-helper-error" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                <div *ngIf="surname.errors.required">
                  Surname is required.
                </div>
                <div *ngIf="surname.errors.minlength">
                  Surname must be at least 3 characters long
                </div>
                <div *ngIf="surname.errors.maxlength">
                  Surname cannot exceed 15 characters
                </div>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-text-field formControlName="birthday" type="date" placeholder="dd-mm-yyyy" id="as-register-date" [mdcElevation]="5">
                <mdc-icon mdcTextFieldIcon trailing>calendar_today</mdc-icon>
              </mdc-text-field>
              <div class="as-helper-error" *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
                <div *ngIf="birthday.errors.required">
                  Birthday is required.
                </div>
                <div *ngIf="birthday.errors.pattern">
                  Birthday must be a valid one
                </div>
              </div>
            </div>

            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-select formControlName="gender" placeholder="Gender" id="as-register-gender" [mdcElevation]="5">
                <option value="gender" selected disabled>Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                <option value="prefer not to say">Prefer not to answer</option>
              </mdc-select>
              <div class="as-helper-error" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                <div *ngIf="gender.errors.required">
                  Gender is required.
                </div>
              </div>
            </div>
          </div>
          
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-select formControlName="currency" placeholder="Currency" id="as-register-currency" [mdcElevation]="5">
                <option value="currency" selected disabled>Currency</option>
                <option value="EUR">EUR</option>
                <option value="USD">USD</option>
              </mdc-select>
              <div class="as-helper-error" *ngIf="currency.invalid && (currency.dirty || currency.touched)">
                <div *ngIf="currency.errors.required">
                  Currency is required.
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-select formControlName="country" placeholder="Country" id="as-register-country" [mdcElevation]="5">
                <option value="country" selected disabled>Country</option>
                <option value="ES">Spain</option>
                <option value="RU">Russia</option>
                <option value="AF">Afghanistan</option>
                <option value="AX">Aland Islands</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AO">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AQ">Antarctica</option>
                <option value="AG">Antigua and Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AM">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                <option value="BA">Bosnia and Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BV">Bouvet Island</option>
                <option value="BR">Brazil</option>
                <option value="IO">British Indian Ocean Territory</option>
                <option value="VG">British Virgin Islands</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CX">Christmas Island</option>
                <option value="CC">Cocos Islands</option>
                <option value="CO">Colombia</option>
                <option value="KM">Comoros</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CW">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="CD">Democratic Republic of the Congo</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="TL">East Timor</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FK">Falkland Islands</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="TF">French Southern Territories</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GG">Guernsey</option>
                <option value="GN">Guinea</option>
                <option value="GW">Guinea-Bissau</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HM">Heard Island and McDonald Islands</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IR">Iran</option>
                <option value="IQ">Iraq</option>
                <option value="IE">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="CI">Ivory Coast</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JE">Jersey</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="XK">Kosovo</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Laos</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macao</option>
                <option value="MK">Macedonia</option>
                <option value="MG">Madagascar</option>
                <option value="MW">Malawi</option>
                <option value="MY">Malaysia</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="YT">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="FM">Micronesia</option>
                <option value="MD">Moldova</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="ME">Montenegro</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Namibia</option>
                <option value="NR">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="NL">Netherlands</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NU">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="KP">North Korea</option>
                <option value="MP">Northern Mariana Islands</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau</option>
                <option value="PS">Palestinian Territory</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PN">Pitcairn</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="CG">Republic of the Congo</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russia</option>
                <option value="RW">Rwanda</option>
                <option value="BL">Saint Barthelemy</option>
                <option value="SH">Saint Helena</option>
                <option value="KN">Saint Kitts and Nevis</option>
                <option value="LC">Saint Lucia</option>
                <option value="MF">Saint Martin</option>
                <option value="PM">Saint Pierre and Miquelon</option>
                <option value="VC">Saint Vincent and the Grenadines</option>
                <option value="WS">Samoa</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome and Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SX">Sint Maarten</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="SO">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="GS">South Georgia and the South Sandwich Islands</option>
                <option value="KR">South Korea</option>
                <option value="SS">South Sudan</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SJ">Svalbard and Jan Mayen</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syria</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania</option>
                <option value="TH">Thailand</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad and Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TM">Turkmenistan</option>
                <option value="TC">Turks and Caicos Islands</option>
                <option value="TV">Tuvalu</option>
                <option value="VI">U.S. Virgin Islands</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States</option>
                <option value="UM">United States Minor Outlying Islands</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VA">Vatican</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="WF">Wallis and Futuna</option>
                <option value="EH">Western Sahara</option>
                <option value="YE">Yemen</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
              </mdc-select>
              <div class="as-helper-error" *ngIf="country.invalid && (country.dirty || country.touched)">
                <div *ngIf="country.errors.required">
                  Country is required.
                </div>
              </div>
            </div>
          </div>
          
          <hr />

          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-text-field (input)="resetUsername()" formControlName="username" type="text" label="Username" id="as-register-username" [mdcElevation]="5">
                <mdc-icon mdcTextFieldIcon trailing>person</mdc-icon>
              </mdc-text-field>
              <div class="as-helper-error" *ngIf="username_taken == true">
                Username already taken
              </div>
              <div class="as-helper-error" *ngIf="username.invalid && (username.dirty || username.touched)">
                <div *ngIf="username.errors.required">
                  Username is required.
                </div>
                <div *ngIf="username.errors.minlength">
                  Username must be at least 3 characters long
                </div>
                <div *ngIf="username.errors.maxlength">
                    Username cannot exceed 15 characters
                </div>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-text-field (input)="resetEmail()" formControlName="email" type="text" label="Email" id="as-register-email" [mdcElevation]="5">
                <mdc-icon mdcTextFieldIcon trailing>mail</mdc-icon>
              </mdc-text-field>
              <div class="as-helper-error" *ngIf="email_taken == true">
                Email already taken
              </div>
              <div class="as-helper-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="email.errors.pattern">
                  Email must be a valid one
                </div>
                <div *ngIf="email.errors.minlength">
                  Email must be at least 5 characters long
                </div>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-text-field formControlName="password" type="password" label="Password" id="as-register-password" [mdcElevation]="5">
                <mdc-icon mdcTextFieldIcon trailing>lock</mdc-icon>
              </mdc-text-field>
              <div id="as-helper-password" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.pattern">
                  Password must contain at least one uppercase and one number
                </div>
                <div *ngIf="password.errors.minlength">
                  Password must be at least 8 characters long
                </div>
                <div *ngIf="password.errors.required">
                  Password is required.
                </div>
              </div>
            </div>
          </div>

          <div class="mdc-layout-grid__inner" id="as-register-form-last-row">
            <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
              <mdc-form-field id="as-register-check-logged">
                <mdc-checkbox formControlName="terms_of_service"></mdc-checkbox>
                <label>I agree with the <a href="https://www.arenastack.com/terms-of-service/" target="_blank">Terms of Service</a> and <a href="https://www.arenastack.com/privacy-policy/" target="_blank">Privacy policy</a></label>
              </mdc-form-field>
              <div class="as-helper-error" *ngIf="terms.invalid && (terms.dirty || terms.touched)">
                <div *ngIf="terms.errors.required">
                  You must accept the terms of service and privacy policy
                </div>
              </div>
            </div>

            <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone" id="as-register-button-cell">
              <button mdc-button primary id="as-register-button" [mdcElevation]="5">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>