/* >>>>> PROFILE OVERVIEW <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-profile-overview {
    font-family: $as-primary-font;
}

.as-profile-overview-headers {
    text-align: left;
    padding-left: 0.7em;
    padding-top: 0.3em;
}

///////////////////////////////////////////
// Profile Boxes: Username (Social Icons)
///////////////////////////////////////////

#as-profile-social-icons-box {
    display: flex;
    justify-content: center;
}

#as-profile-social-icons-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

#as-profile-social-icons {
    width: 80%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-social-icons-content button {
    text-align: center;
}

.social-icons-unlinked {
    color: $as-light-gray;
}

.social-icons-linked {
    color: $as-primary-color;
}

#as-profile-social-icons-add-friend-button {
    text-align: right;
    position: relative;
    width: 100%;
    top: -2.5em;
    right: 0.3em;
    margin-bottom: -3em;
    color: $as-dark-orange-color;
}

///////////////////////////////////////////
// Profile Boxes: Achievements
///////////////////////////////////////////

#as-profile-achievements-box {
    display: flex;
    justify-content: center;
}

#as-profile-achievements-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

#as-profile-achievements {
    width: 80%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
}

#as-profile-achievements img {
    width: 3em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.4em;
}

///////////////////////////////////////////
// Profile Boxes: Last Games
///////////////////////////////////////////

#as-profile-last-games-box {
    display: flex;
    justify-content: center;
}

#as-profile-last-games-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

#as-profile-last-games hr {
    margin-bottom: 1.2em;
}

#as-profile-last-games {
    width: 80%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-last-games-content span {
    font-size: 1.8em;
    //text-decoration: none;
    padding-right: 0.3em;
}

.as-last-games-win {
    color: green;
}

.as-last-games-lose {
    color: red;
}

#as-profile-last-games img {
    width: 4em;
}

///////////////////////////////////////////
// Profile Boxes: Rank
///////////////////////////////////////////

#as-profile-rank-box {
    display: flex;
    justify-content: center;
}

#as-profile-rank-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

#as-profile-rank hr {
    margin-bottom: 1.2em;
}

#as-profile-rank {
    width: 80%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    padding-bottom: 0.5em;
}

#as-profile-rank mdc-icon {
    font-size: 4em;
}

#as-profile-rank-content {
    display: flex;
    width: 100%;
    align-items: center;
}

#as-profile-rank-content-left {
    width: 30%;
    text-align: left;
    padding-left: 1em;
}

#as-profile-rank-content-right {
    width: 70%;
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    font-family: $as-primary-font;
}

#as-profile-rank-content-right table {
    width: 100%;
    border-collapse: collapse;
}

#as-profile-rank-content-right .as-profile-rank-orange {
    color: $as-primary-color;
}

///////////////////////////////////////////
// Profile Boxes: Status on Ranking
///////////////////////////////////////////

#as-profile-status-ranking-box {
    display: flex;
    justify-content: center;
}

#as-profile-status-ranking hr {
    width: 95%;
    border-color: $as-light-gray;
}

#as-profile-status-ranking hr {
    margin-bottom: 1.2em;
}

#as-profile-status-ranking{
    width: 80%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-status-ranking img {
    width: 6em;
}

#as-profile-status-content {
    display: flex;
    width: 100%;
    align-items: center;
}

#as-profile-status-content-left {
    width: 30%;
    text-align: left;
    padding-left: 1em;
}

#as-profile-status-content-right {
    width: 70%;
    text-align: left;
    padding-left: 3em;
    padding-right: 1em;
    font-family: $as-primary-font;
}

#as-profile-status-content-right table {
    width: 100%;
    border-collapse: collapse;
}

#as-profile-status-content-global {
    color: $as-light-orange-color;
    font-size: 1.2em;
}

#as-profile-status-content-europe {
    color: $as-dark-orange-color;
    font-size: 1.2em;
}

#as-profile-status-content-country {
    color: $as-primary-color;
    font-size: 1.2em;
}

///////////////////////////////////////////
// Profile Boxes: Friends
///////////////////////////////////////////

#as-profile-friends-box {
    display: flex;
    justify-content: center;
}

#as-profile-friends-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

#as-profile-friends hr {
    margin-bottom: 1.2em;
}

#as-profile-friends {
    width: 80%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
}

#as-profile-friends img {
    width: 100%;
    border-radius: 0.3em;
}

.as-profile-friend-box {
    border-radius: 0.3em;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 5em;
    cursor: pointer;
}

.as-profile-friend-box:last-child {
    margin-right: 0;
}

.as-profile-friend-box a {
    text-decoration: none;
}

.as-profile-friend-box img {
    border-radius: 0.3em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1730px) {
    .as-profile-friend-box:last-child {
        margin-right: 1em;
    }
    .as-profile-friend-box:first-child {
        margin-left: 1em;
    }
}

@media (max-width: 1400px) {
    // Profile Boxes: Username (Social Icons)

    #as-profile-social-icons {
        width: 85%;
    }

    // Profile Boxes: Achievements

    #as-profile-achievements {
        width: 85%;
    }

    // Profile Boxes: Last Games

    #as-profile-last-games {
        width: 85%;
    }

    // Profile Boxes: Rank

    #as-profile-rank {
        width: 85%;
    }

    #as-profile-rank-content {
        flex-direction: column;
    }
    
    #as-profile-rank-content-left {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    
    #as-profile-rank-content-right {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    // Profile Boxes: Status on Ranking

    #as-profile-status-ranking{
        width: 85%;
    }

    #as-profile-status-content {
        flex-direction: column;
    }

    #as-profile-status-content-left {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    
    #as-profile-status-content-right {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    // Profile Boxes: Friends

    #as-profile-friends {
        width: 85%;
    }
}

@media (max-width: 1024px) {
    #as-profile-status-content {
        flex-direction: column;
    }
    
    #as-profile-status-content-left {
        width: 100%;
        text-align: center;
        padding-left: 0em;
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-profile-overview {
        margin-top: 9em;
    }

    #as-profile-rank-content {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    #as-profile-status-content-right {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    // Profile Boxes: Friends

    #as-profile-friends {
        width: 85%;
    }
}

@media (max-width: 630px) {
    #as-profile-rank-content {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}