<div class="mdc-layout-grid__inner" id="as-profile-overview">
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-social-icons-box">
    <div id="as-profile-social-icons" class="mdc-elevation--z7">
      <div id="as-profile-social-icons-header">
        <div mdcHeadline6 class="as-profile-overview-headers">{{username$ | async}}</div>
        <hr />
      </div>
      <div id="as-profile-social-icons-content"><!--TODO: Inyectar en los href los enlaces que hayan puesto en settings-->
        <a target="_blank"><button mdcIconButton [ngClass]="linked == true ? 'social-icons-linked': 'social-icons-unlinked'"><mdc-icon fontSet="fab" fontIcon="fa-twitch"></mdc-icon></button></a>
        <a target="_blank"><button mdcIconButton [ngClass]="linked == true ? 'social-icons-linked': 'social-icons-unlinked'"><mdc-icon fontSet="fab" fontIcon="fa-twitter"></mdc-icon></button></a>
        <a target="_blank"><button mdcIconButton [ngClass]="linked == true ? 'social-icons-linked': 'social-icons-unlinked'"><mdc-icon fontSet="fab" fontIcon="fa-instagram"></mdc-icon></button></a>
        <a target="_blank"><button mdcIconButton [ngClass]="linked == true ? 'social-icons-linked': 'social-icons-unlinked'"><mdc-icon fontSet="fab" fontIcon="fa-youtube"></mdc-icon></button></a>
        <a target="_blank"><button mdcIconButton [ngClass]="linked == true ? 'social-icons-linked': 'social-icons-unlinked'"><mdc-icon fontSet="fab" fontIcon="fa-steam-square"></mdc-icon></button></a>
        <a target="_blank"><button mdcIconButton [ngClass]="linked == true ? 'social-icons-linked': 'social-icons-unlinked'"><mdc-icon fontSet="fas" fontIcon="fa-globe-americas"></mdc-icon></button></a>
      </div>
    </div>
  </div>
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-achievements-box">
    <div id="as-profile-achievements" class="mdc-elevation--z7">
      <div id="as-profile-achievements-header">
        <div mdcHeadline6 class="as-profile-overview-headers">Achievements</div>
        <hr />
      </div>
      <ng-container *ngIf="false">
        <div id="as-profile-achievements-content"><!--TODO: Mostrar solo las insignias que consiga el usuario-->
          <img src="/assets/img/dashboard/insignias/as-beta.png" title="Beta Tester" />
          <img src="/assets/img/dashboard/insignias/as-beta25games.png" title="Played 25 games in the beta!" />
          <img src="/assets/img/dashboard/insignias/as-beta50games.png" title="Played 50 games in the beta!" />
          <img src="/assets/img/dashboard/insignias/as-beta10-5vs5games.png" title="Played 10 games of 5vs5 mode!" />
          <img src="/assets/img/dashboard/insignias/as-beta-finisher.png" title="You finished succesfully the beta!" />
        </div>
      </ng-container>
      <ng-container *ngIf="true">
        <div mdcHeadline5 style="text-align: center; padding-top: 0.5em;">There is no <span style="color: #FF6D00">achievement</span> here!</div>
      </ng-container>
    </div>
  </div>
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-last-games-box">
    <div id="as-profile-last-games" class="mdc-elevation--z7">
      <div id="as-profile-last-games-header">
        <div mdcHeadline6 class="as-profile-overview-headers">Last Games</div>
        <hr />
      </div>
      <ng-container *ngIf="false">
        <div id="as-profile-last-games-content"><!--TODO: Mostrar las ultimas partidas jugadas si ha ganado o perdido y poner la ruta-->
          <span class="as-last-games-win">W</span>
          <span class="as-last-games-lose">L</span>
          <span class="as-last-games-win">W</span>
          <span class="as-last-games-win">W</span>
        </div>
      </ng-container>
      <ng-container *ngIf="true">
        <div mdcHeadline5 style="text-align: center;"><span style="color: #FF6D00">Disabled</span></div>
      </ng-container>
    </div>
  </div>
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-rank-box">
    <div id="as-profile-rank" class="mdc-elevation--z7">
      <div id="as-profile-rank-header">
        <div mdcHeadline6 class="as-profile-overview-headers">Rank</div>
        <hr />
      </div>
      <ng-container *ngIf="false"><!--DISABLED NOW FOR THE BETA-->
        <div id="as-profile-rank-content">
          <div id="as-profile-rank-content-left">
            <mdc-icon fontSet="far" fontIcon="fa-chart-bar"></mdc-icon>
          </div>
          <div id="as-profile-rank-content-right">
            <table>
              <tr>
                <td>League</td><td class="as-profile-rank-orange">League Name</td>
              </tr>
              <tr>
                <td>Level</td><td class="as-profile-rank-orange">10</td>
              </tr>
              <tr>
                <td>Team</td><td class="as-profile-rank-orange">Team Name</td>
              </tr>
            </table>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="true">
        <div mdcHeadline5 style="text-align: center;">Coming Soon after <span style="color: #FF6D00">beta</span></div>
      </ng-container>
    </div>
  </div>
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-status-ranking-box">
    <div id="as-profile-status-ranking" class="mdc-elevation--z7">
      <div id="as-profile-status-header">
        <div mdcHeadline6 class="as-profile-overview-headers">Status on Ranking</div>
        <hr />
      </div>
      <ng-container *ngIf="false"><!--DISABLED NOW FOR THE BETA-->
        <div id="as-profile-status-content">
          <div id="as-profile-status-content-left">
            <img src="/assets/img/dashboard/versus/csgo-re-white.png" />
          </div>
          <div id="as-profile-status-content-right">
            <table>
              <tr>
                <td>Global</td><td id="as-profile-status-content-global">29580</td>
              </tr>
              <tr>
                <td>Europe</td><td id="as-profile-status-content-europe">15789</td>
              </tr>
              <tr>
                <td>Spain</td><td id="as-profile-status-content-country">986</td>
              </tr>
            </table>
          </div>
        </div>
      </ng-container>
      <ng-container>
        <div mdcHeadline5 style="text-align: center;">Coming Soon after <span style="color: #FF6D00">beta</span></div>
      </ng-container>
    </div>
  </div>
  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-friends-box">
    <div id="as-profile-friends" class="mdc-elevation--z7">
      <div id="as-profile-friends-header">
        <div mdcHeadline6 class="as-profile-overview-headers">Friends</div>
        <hr />
      </div>
      <ng-container *ngIf="friends != []">
        <div id="as-profile-friends-box">
          <mdc-image-list-item (click)="goProfile(friend.friend_username)" class="as-profile-friend-box mdc-elevation--z5" *ngFor="let friend of friends">
          <a>
            <mdc-image-list-image-aspect class="as-profile-friend-img">
              <img *ngIf="friend.profile == null" mdcImageListImage src="/assets/img/dashboard/default_avatar.png" title="{{friend.friend_username}}"/>
              <img *ngIf="friend.profile != null" mdcImageListImage src="{{friend.profile}}" />
            </mdc-image-list-image-aspect>
          </a>
        </mdc-image-list-item>
        </div>
      </ng-container>
      <ng-container *ngIf="friends == []">
        <div mdcHeadline5 style="text-align: center;">There is no <span style="color: #FF6D00">friends</span> here!</div>
      </ng-container>
    </div>
  </div>
</div>