/* >>>>> VERSUS POP UP TO ACCEPT GAME OF DASHBOARD <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-versus-pop-up {
    background-color: $as-secondary-color;
    margin-left: 14em;
    transition: 0.4s ease-in-out;
    max-width: 18em;
}

.as-versus-pop-up {
    font-family: $as-primary-font;
    text-transform: uppercase;
    padding: 1em;
    color: $as-white-color;
}

#as-versus-pop-up .mdc-layout-grid {
    padding: 0;
    width: 100%;
}

#as-versus-pop-up-title {
    color: $as-primary-color;
    font-weight: 700;
    text-align: center;
}

#as-versus-pop-up hr {
    border-color: $as-light-gray;
}

#as-versus-pop-up-timer {
    text-align: center;
    color: $as-dark-orange-color;
}

.as-versus-pop-up-content {
    margin: 0 auto;
}

.as-versus-pop-up-content .material-icons {
    font-size: 2em;
}

.as-versus-pop-up-not-accepted { //User not accepted yet
    color: $as-light-gray;
}

.as-versus-pop-up-accepted { //User accepted
    color: $as-white-color;
}

#as-versus-pop-up-accept-button {
    margin: 0 auto;
}

#as-versus-pop-up-accept-button button {
    font-weight: 700;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1280px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1100px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-versus-pop-up {
        margin-left: 3em;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}