<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface id="as-versus-pop-up" class="as-versus-pop-up">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div mdcHeadline5 id="as-versus-pop-up-title">Game found!</div>
            <hr />
            <div id="as-versus-pop-up-timer"></div>
          </div>
          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone as-versus-pop-up-content" #container></div>
          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-versus-pop-up-accept-button">
            <button *ngIf="(ask_accepted | async) == false" mdc-button primary (click)="aceptMatch()" [mdcElevation]="10">ACCEPT</button>
          </div>
        </div>
      </div>

    </mdc-dialog-surface>
    
    
  </mdc-dialog-container>
</mdc-dialog>
