<div id="as-main-confirmation-page" class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <ng-container *ngIf="true">
      <div id="as-confirmation-success" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <p>Email confirmed successfully</p>
        <p>now redirecting to <span>Arena Stack...</span></p>
      </div>
    </ng-container>
    <ng-container *ngIf="false">
      <div id="as-confirmation-unsuccessful" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <p>Something went wrong</p>
        <p>ಥ_ಥ</p>
      </div>
    </ng-container>
  </div>
</div>
