/* >>>>> CONFIRMATION OF EMAIL <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-main-confirmation-page{
    font-family: $as-primary-font;
    position: relative;
    color: #FFFFFF;
}

#as-confirmation-success {
    text-align: center;
}

#as-confirmation-success p:first-child {
    font-size: 3em;
}

#as-confirmation-success p:last-child {
    font-size: 2em;
}

#as-confirmation-success span {
    color: $as-primary-color;
}

#as-confirmation-unsuccessful {
    text-align: center;
}

#as-confirmation-unsuccessful p:first-child {
    font-size: 3em;
}

#as-confirmation-unsuccessful p:last-child {
    font-size: 2em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}