/* >>>>> CONTENT OF TWOS LOBBY PAGE <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

.box-player-top {
    margin-bottom: 2em;
}

.box-player-bottom {
    margin-top: 2em;
}

////////////////////////////////////////
// First section
////////////////////////////////////////

#as-column-img {
    background-image: url('/assets/img/dashboard/versus/lobbyleft.png');
    background-repeat: no-repeat;
    height: 10em;
    background-position: center left;
}

#as-column-title {
    background-color: $as-secondary-color;
    height: 4em;
    margin-bottom: 0.7em;
    border-radius: 0.3em;
}

.as-title {
    padding-left: 1em;
    color: white;
    font-family: $as-primary-font;
}

#as-column-players {
    height: 36em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.as-box-player-left {
    height: 6em;
    width: 90%;
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
}

.as-box-player-left > div{
    width: 100%;
}

.name-player {
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
}

.name-player:hover {
    color: $as-primary-color;
}

.image-player {
    padding-left: 1em;
}

.image-player img{
    width: 4em;
    border-radius: 0.3em;
}

.player-left-icons {
    display: flex;
    align-items: center;
    color: #C43C00;
    justify-content: flex-end;
    padding-right: 0.5em;
}

////////////////////////////////////////
// Second section
////////////////////////////////////////

////////////////////////////////////////
// Third section
////////////////////////////////////////

#as-column-img2 {
    background-image: url('/assets/img/dashboard/versus/lobbyright.png');
    background-repeat: no-repeat;
    height: 10em;
    background-position: center right;
}

#as-column-title2 {
    background-color: $as-secondary-color;
    height: 4em;
    text-align: right;
    margin-bottom: 0.7em;
    border-radius: 0.3em;
}

.as-title2 {
    padding-right: 1em;
    color: white;
    font-family: $as-primary-font;
}

#as-column-players2 {
    height: 36em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.as-box-player-right {
    height: 6em;
    width: 90%;
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
}

.as-box-player-right > div{
    width: 100%;
}

.name-player2 {
    color: #FFFFFF;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.name-player2:hover {
    color: $as-primary-color;
}

.image-player2 {
    text-align: right;
    padding-right: 1em;
}

.image-player2 img{
    width: 4em;
    border-radius: 0.3em;
}

.player-right-icons {
    display: flex;
    align-items: center;
    color: #C43C00;
    justify-content: flex-start;
    padding-left: 0.5em;
}

.player-right-icons i:first-child {
    margin-right: 0.5em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1460px) {

    #left-box {
        @include mdc-layout-grid-cell-order(2);
        @include mdc-layout-grid-cell(desktop, 6, 0);
        padding-top: 2em;
    }
    
    #mid-box {
        @include mdc-layout-grid-cell-order(1);
        @include mdc-layout-grid-cell(desktop, 12, 0);
        width: 80% !important;
        margin: 0 auto !important;
        padding-top: 1em !important;
    }

    #right-box {
        @include mdc-layout-grid-cell-order(3);
        @include mdc-layout-grid-cell(desktop, 6, 0);
        padding-top: 2em;
    }

    .as-box-player-left, .as-box-player-right {
        width: 100%;
        margin-bottom: 1em;
    }

    #as-column-img, #as-column-img2 {
        display: none;
    }
}

@media (max-width: 1400px) {
    
}

@media (max-width: 1330px) {
    
}

@media (max-width: 1250px) {
    
}

@media (max-width: 1024px) {
    
    .player-right-icons {
        @include mdc-layout-grid-cell(desktop, 2, 0);
    }
    
    .name-player2 {
        @include mdc-layout-grid-cell(desktop, 6, 0);
    }

    .image-player2 {
        @include mdc-layout-grid-cell(desktop, 4, 0);
    }

    .player-left-icons {
        @include mdc-layout-grid-cell(desktop, 2, 0);
    }
    
    .name-player {
        @include mdc-layout-grid-cell(desktop, 6, 0);
    }

    .image-player {
        @include mdc-layout-grid-cell(desktop, 4, 0);
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #left-box {
        @include mdc-layout-grid-cell(tablet, 4, 0);
    }
    
    #mid-box {
        @include mdc-layout-grid-cell(tablet, 8, 0);
        
    }

    #right-box {
        @include mdc-layout-grid-cell(tablet, 4, 0);
    }

    .player-right-icons {
        @include mdc-layout-grid-cell(tablet, 1, 0);
    }
    
    .name-player2 {
        @include mdc-layout-grid-cell(tablet, 4, 0);
    }

    .image-player2 {
        @include mdc-layout-grid-cell(tablet, 3, 0);
    }

    .player-left-icons {
        @include mdc-layout-grid-cell(tablet, 1, 0);
    }
    
    .name-player {
        @include mdc-layout-grid-cell(tablet, 4, 0);
    }

    .image-player {
        @include mdc-layout-grid-cell(tablet, 3, 0);
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 590px) {

    #left-box {
        @include mdc-layout-grid-cell(tablet, 8, 0);
    }
    
    #mid-box {
        @include mdc-layout-grid-cell(tablet, 8, 0);
    }

    #right-box {
        @include mdc-layout-grid-cell(tablet, 8, 0);
    }

    .player-right-icons {
        @include mdc-layout-grid-cell-order(3);
        @include mdc-layout-grid-cell(tablet, 1, 0);
        justify-content: flex-end;
        padding-right: 0.5em;
    }
    
    .name-player2 {
        @include mdc-layout-grid-cell-order(2);
        @include mdc-layout-grid-cell(tablet, 4, 0);
        justify-content: flex-start;
    }

    .image-player2 {
        @include mdc-layout-grid-cell-order(1);
        @include mdc-layout-grid-cell(tablet, 3, 0);
        padding-left: 1em;
        padding-right: 0;
        text-align: left;
    }

    #as-column-title2 {
        text-align: left;
    }

    .as-title2 {
        padding-left: 1em;
    }
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

    #left-box {
        @include mdc-layout-grid-cell(phone, 4, 0);
    }
    
    #mid-box {
        @include mdc-layout-grid-cell(phone, 4, 0);
    }

    #right-box {
        @include mdc-layout-grid-cell(phone, 4, 0);
    }

    .player-right-icons {
        @include mdc-layout-grid-cell(phone, 1, 0);
    }
    
    .name-player2 {
        @include mdc-layout-grid-cell(phone, 2, 0);
    }

    .image-player2 {
        @include mdc-layout-grid-cell(phone, 1, 0);
    }

    .player-left-icons {
        @include mdc-layout-grid-cell(phone, 1, 0);
    }
    
    .name-player {
        @include mdc-layout-grid-cell(phone, 2, 0);
    }

    .image-player {
        @include mdc-layout-grid-cell(phone, 1, 0);
    }
}

@media (max-width: 400px) {
    
}