/* >>>>> CONTENT OF VERSUS PAGE <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#image-cropper-close {
    position: absolute;
    color: $as-primary-color;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

#image-cropper {
    background-color: $as-secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45em;
    width: auto;
    padding: 2em;
}

.box-image {
    width: auto;
    max-height: 20em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

.box-image image-cropper {
    border-radius: 0.3em;
}

.image-cropper-img {
    height: 15em;
    width: 15em;
    border-radius: 0.3em;
}

.button-confirm {
    margin-top: 2em;
}