<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface id="image-cropper">
        <i id="image-cropper-close" class="fas fa-times" (click)="closeDialog()"></i>
      <div class="box-image">
        <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="512"
        [onlyScaleDown]="true"
        [roundCropper]="false"
        format="png"
        outputType="base64"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        [style.display]="showCropper ? null : 'none'"
      ></image-cropper>
    </div>
    <img class="image-cropper-img" [src]="croppedImage" />
    <button class="button-confirm" (click)="changeProfileImage()" mdc-button outlined>confirm</button>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>