<div id="as-lobby-ones" class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div id="left-box" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
            <div id="as-column-img" class="mdc-layout-grid__inner"></div>
            <div id="as-column-title" class="mdc-layout-grid__inner">
                <div class="as-title mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h1 mdcHeadline6>TEAM 1</h1>
                </div> 
            </div>
            <div id="as-column-players" class="mdc-layout-grid__inner">
                <div class="as-box-player-left" [mdcElevation]="10">
                    <div class="mdc-layout-grid__inner">
                        <div class="image-player mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
                            <img src="/assets/img/dashboard/default_avatar.png"/>
                        </div>
                        <div class="name-player mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-4-tablet">
                            <h1 mdcHeadline6>John Doe</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="mid-box" class="mdc-layout-grid__cell--span-4-desktop">
            <app-stats></app-stats>
        </div>

        <div id="right-box" class="mdc-layout-grid__cell--span-4-desktop">
            <div id="as-column-img2" class="mdc-layout-grid__inner">
            </div>
            <div id="as-column-title2" class="mdc-layout-grid__inner">
                <div class="as-title2 mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <h1 mdcHeadline6>TEAM 2</h1>
                </div> 
            </div>
            <div id="as-column-players2" class="mdc-layout-grid__inner">
                <div class="as-box-player-right" [mdcElevation]="10">
                    <div class="mdc-layout-grid__inner">
                        <div class="name-player2 mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-4-tablet">
                            <h1 mdcHeadline6>John Doe</h1>
                        </div>
                        <div class="image-player2 mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet">
                            <img src="/assets/img/dashboard/default_avatar.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
