/* >>>>> NAVBAR OF DASHBOARD <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#navbar-dashboard {
    background-color: $as-secondary-color;
    font-family: $as-primary-font;
}

////////////////////////////////////////
// Arena Stack Logo and BETA text
////////////////////////////////////////

#as-logo-icon {
    max-width: 14em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

#as-logo-icon .as-beta {
    font-size: 0.6em;
    color: $as-primary-color;
    position: absolute;
    bottom: 4px;
    left: 5px;
}

////////////////////////////////////////
// Notifications
////////////////////////////////////////

#navbar-notifications .mdc-icon-button__icon {
    @include mdc-icon-button-ink-color($as-primary-color); //Bell color
}

#navbar-notifications {
    max-width: 18em;
    box-sizing: border-box;
    transition: 0.4s ease-in-out;
}

#notifications-menu {
    margin-right: 0.2em;
}

#notifications-menu mdc-menu {
    background-color: $as-secondary-color;
    width: 22em;
    height: 22em;
}

#notifications-menu mdc-menu .mdc-layout-grid {
    padding: 0;
}

#notificacion-badge {
    font-size: 0.45em;
    color: white;
    background-color: #FF6D00;
    border-radius: 50%;
    padding: 0.4em;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.9em;
    height: 1.9em;
}

#notifications-content {
    color: #FFFFFF;
    font-size: 0.85em;
    padding: 1em 1em 1em 1em;
}

#first-tab-left {
    display: flex;
    justify-content: flex-start;
}

#first-tab-left mdc-icon {
    color: $as-primary-color;
}

#first-tab-right {
    display: flex;
    justify-content: flex-start;
}

#first-tab-left2 {
    display: flex;
    justify-content: flex-start;
}

#first-tab-left2 img {
    width: 3em;
    height: 3em;
    border-radius: 0.3em;
}

#first-tab-right2 {
    display: flex;
    justify-content: flex-end;
}

#first-tab-right2 .first-tab-accept {
    color: $as-green-color;
}

#first-tab-right2 .first-tab-deny {
    color: $as-red-color;
}

#first-tab-left .first-tab-clear {
    color: $as-red-color;
}

#invitation-username {
    padding-left: 1em;
}

#second-tab-left {
    display: flex;
    justify-content: flex-start;
}

#second-tab-left img {
    width: 3em;
    height: 3em;
    border-radius: 0.3em;
}

#second-tab-mid {
    display: flex;
    justify-content: flex-start;
}

#second-tab-right {
    display: flex;
    justify-content: flex-start;
}

#second-tab-right span {
    color: $as-primary-color;
}

#third-tab-left {
    display: flex;
    justify-content: flex-start;
}

#third-tab-left img {
    width: 3em;
    height: 3em;
    border-radius: 0.3em;
}

#third-tab-right {
    display: flex;
    justify-content: flex-end;
}

#third-tab-right .third-tab-accept {
    color: $as-green-color;
}

#third-tab-right .third-tab-deny {
    color: $as-red-color;
}

#notifications-username {
    padding-left: 1em;
}

#first-tab-empty-messages-text {
    text-align: center;
}

#first-tab-empty-messages-text p {
    font-size: 1.3em;
    color: $as-light-gray;
}

#first-tab-empty-messages-img {
    text-align: center;
}

#first-tab-empty-messages-img img {
    width: 10em;
}

#second-tab-empty-messages-text {
    text-align: center;
}

#second-tab-empty-messages-text p {
    font-size: 1.3em;
    color: $as-light-gray;
}

#second-tab-empty-messages-img {
    text-align: center;
}

#second-tab-empty-messages-img img {
    width: 10em;
}

#third-tab-empty-messages-text {
    text-align: center;
}

#third-tab-empty-messages-text p {
    font-size: 1.3em;
    color: $as-light-gray;
}

#third-tab-empty-messages-img {
    text-align: center;
}

#third-tab-empty-messages-img img {
    width: 10em;
}

////////////////////////////////////////
// Search bar
////////////////////////////////////////

#searchBar-menu mdc-menu {
    background-color: $as-secondary-color;
    width: 13.5em;
    //max-height: 15em !important;
    height: 15em;
}

.searchBar-list {
    font-size: 0.8em;
    display: flex;
    align-items: center;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

.searchBar-list img {
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.2em;
}

.searchBar-username {
    padding-left: 1em;
}

.searchBar-username a {
    text-decoration: none;
    color: #FFFFFF;
}

.searchBar-list button {
    position: absolute;
    right: 0;
}

#searchBar-menu .searchBar-user-add {
    color: $as-green-color;
}

#navbar-info-button {
    color: $as-primary-color;
    cursor: pointer;
    margin-left: 0.5em;
}

////////////////////////////////////////
// Balance
////////////////////////////////////////

#navbar-balance {
    color: $as-primary-color;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: 0.4s ease-in-out;
}

#navbar-balance mdc-menu { // DISABLED FOR BETA
    display: none;
}

#navbar-ammount {
    border: 1px solid #FFFFFF;
    border-radius: 0.2em;
    box-sizing: border-box;
    padding-left: 0.7em;
    padding-right: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    height: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-ammount-superSmall { //Máximo 6 digitos izquierda y derecha. La coma también cuenta.
    width: 17em;
}

.navbar-ammount-small { //Máximo 7 digitos izquierda y derecha. La coma también cuenta.
    width: 19em;
}

.navbar-ammount-medium { //Máximo 9 digitos izquierda y derecha. La coma también cuenta.
    width: 21em;
}

.navbar-ammount-large { //Máximo 11 digitos izquierda y derecha. La coma también cuenta.
    width: 23em;
}

#as-balance, #as-balance2 {
    color: #FFFFFF;
}

#navbar-balance #as-add-balance {
    background: url("/assets/img/dashboard/as-orange.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.7em;
    margin-right: 0.7em;

    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    
    box-shadow: 0em 0em 0.5em #FFFFFF;
    border-radius: 50%;
}

#navbar-ammount mdc-menu {
    background-color: $as-secondary-color;
    width: 17em;
}

#addBalance-cell {
    color: #FFFFFF;
    padding-left: 1em;
    padding-right: 1em;
}

////////////////////////////////////////
// Username
////////////////////////////////////////

#navbar-profile {
    @include mdc-icon-button-ink-color($as-primary-color);
    max-width: 20em;
    box-sizing: border-box;
}

#navbar-profile img {
    width: 3em;
    height: 3em;
    border-radius: 0.3em;
    cursor: pointer;
}

#profile-menu mdc-menu {
    background-color: $as-secondary-color;
    width: max-content;
}

#profile-menu mdc-list {
    color: #FFFFFF;
}

#profile-menu mdc-icon {
    margin-right: 15px;
    color: #FFFFFF;
}

#as-username {
    color: $as-primary-color;
    font-weight: 700;
    padding-left: 1.1em;
    cursor: pointer;
}

////////////////////////////////////////
// Navbar not logged
////////////////////////////////////////

#navbar-not-logged button {
    font-weight: 700;
}

#navbar-not-logged button:first-child {
    color: #000000;
}

#navbar-not-logged button:last-child {
    color: #FFFFFF;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1280px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1100px) {
    //Navbar logo icon
    #as-logo-icon {
        min-width: 10em;
    }

    //Navbar notifications
    #navbar-notifications {
        display: none;
    }

    //Navbar balance
    #navbar-balance {
        justify-content: flex-end;
    }

    //Navbar profile
    #navbar-profile {
        max-width: 17em;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-logo-icon {
        min-width: 3em;
    }

    #navbar-profile img {
        display: none;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}