<mdc-top-app-bar id="navbar-dashboard" fixed>

	<mdc-top-app-bar-row>
		<mdc-top-app-bar-section align="start" id="as-logo-icon" (click)="goHome()">
      <a title="Arena Stack" routerLink="/dashboard/home"><img src="/favicon.ico" /></a>
      <span class="as-beta">BETA</span>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="start" id="navbar-notifications">
      <div mdcMenuSurfaceAnchor #notificationsMenuAnchor id="notifications-menu">
        <button *showIfLoggedIn="true" mdcIconButton name="notifications-button" [on]="true" (click)="notificationsmenu.open = !notificationsmenu.open">
          <mdc-icon [ngClass]="notificationsCount > 0 ? 'animated flash infinite' : 'animated flash'" mdcIconOn>notifications</mdc-icon>
          <div id="notificacion-badge">{{notificationsCount}}</div>
        </button>
        <mdc-menu class="as-scrollbar2" #notificationsmenu (selected)="onMenuSelect($event)" [quickOpen]="false" [fixed]="false" [anchorElement]="notificationsMenuAnchor" [anchorMargin]="{top: 57, left: -11}">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner as-remove-hor-scroll">
              <div class="mdc-layout-grid__cell--span-12-desktop">
                <mdc-tab-bar #notificationstabs (activated)="logTab($event)" [activeTabIndex]="0" [fade]="true">
                  <mdc-tab-scroller>
                    <!--<mdc-tab><mdc-icon>announcement</mdc-icon></mdc-tab>-->
                    <!--<mdc-tab><mdc-icon>star</mdc-icon></mdc-tab>-->
                    <mdc-tab><mdc-icon>person</mdc-icon></mdc-tab>
                  </mdc-tab-scroller>
                </mdc-tab-bar>
              </div>
            </div>
            <!-- Cuando pongamos más notificaciones reordenar los switch case -->
            <div class="mdc-layout-grid__inner" id="notifications-content">
              <ng-container [ngSwitch]="tabIndex">
                <!--FIRST TAB-->
                <ng-container *ngSwitchCase="2" id="notifications-first-tab">

                  <ng-container *ngIf="false">
                    <div class="mdc-layout-grid__cell--span-12-desktop" id="first-tab-empty-messages-text">
                      <p>Nothing here, try to make some friends or play a match to recieve notifications.</p>
                    </div>
                    <div class="mdc-layout-grid__cell--span-12-desktop" id="first-tab-empty-messages-img">
                      <img src="/assets/img/dashboard/EmptyStates/emptyMessage1.png" />
                    </div>
                  </ng-container>
                  <ng-container *ngIf="false" class="div-first-tab">
                    <!--<ng-container *ngFor="let notification of notificationsInvitation">
                      <div id="first-tab-left2" class="mdc-layout-grid__cell--span-8-desktop as-center">
                        <img src="{{notification.picture}}" />
                        <span id="invitation-username">{{notification.username}} has invited you!</span>
                      </div>
                      <div id="first-tab-right2" class="mdc-layout-grid__cell--span-4-desktop as-center">
                        <button mdcIconButton (click)="accept(notification.user_id, notification.leader_id, notification)"><mdc-icon class="first-tab-accept">done</mdc-icon></button>
                        <button mdcIconButton (click)="decline(notification.user_id, notification.leader_id)"><mdc-icon class="first-tab-deny">clear</mdc-icon></button>
                      </div>
                    </ng-container>-->
                  </ng-container>
                  
                  <ng-container *ngIf="true" class="div-first-tab">
                    <ng-container *ngFor="let notification of notificationsAnnouncements">
                      <div id="first-tab-left" class="mdc-layout-grid__cell--span-2-desktop as-center">
                        <mdc-icon>priority_high</mdc-icon>
                      </div>
                      <div id="first-tab-right" class="mdc-layout-grid__cell--span-8-desktop as-center">
                        <!--<p>{{notification.notification.content}}</p>-->
                        <p>fix me</p>
                      </div>
                      <div id="first-tab-left" class="mdc-layout-grid__cell--span-2-desktop as-center">
                        <button mdcIconButton><mdc-icon class="first-tab-clear">delete</mdc-icon></button>
                      </div>
                    </ng-container>
                  </ng-container>
                  
                </ng-container>
                <!--SECOND TAB-->
                <ng-container *ngSwitchCase="1" id="notifications-second-tab">

                  <ng-container *ngIf="false">
                    <div class="mdc-layout-grid__cell--span-12-desktop" id="second-tab-empty-messages-text">
                      <p>Nothing here, try to make some friends or play a match to recieve notifications.</p>
                    </div>
                    <div class="mdc-layout-grid__cell--span-12-desktop" id="second-tab-empty-messages-img">
                      <img src="/assets/img/dashboard/EmptyStates/emptyAchievement1.png" />
                    </div>
                  </ng-container>

                  <ng-container *ngIf="true" class="div-second-tab">
                    <ng-container *ngFor="let notification of notificationsAchievements">
                      <div id="second-tab-left" class="mdc-layout-grid__cell--span-2-desktop as-center">
                        <img src="{{notification.img}}" />
                      </div>
                      <div id="second-tab-mid" class="mdc-layout-grid__cell--span-7-desktop as-center">
                        <p>{{notification.notification.name}}</p>
                      </div>
                      <div id="second-tab-right" class="mdc-layout-grid__cell--span-3-desktop as-center">
                        <p>{{notification.notification.done}} <span>/</span> {{notification.notification.total}}</p>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <!--THIRD TAB-->
                <ng-container *ngSwitchCase="0" id="notifications-third-tab">

                  <ng-container *ngIf="false">
                    <div class="mdc-layout-grid__cell--span-12-desktop" id="third-tab-empty-messages-text">
                      <p>Nothing here, try to make some friends or play a match to recieve notifications.</p>
                    </div>
                    <div class="mdc-layout-grid__cell--span-12-desktop" id="third-tab-empty-messages-img">
                      <img src="/assets/img/dashboard/EmptyStates/emptyFriends1.png" />
                    </div>
                  </ng-container>

                  <ng-container *ngIf="true" class="div-third-tab">
                    <ng-container *ngFor="let friend of friends">
                      <ng-container *ngIf="friend.status == 1">
                        <div id="third-tab-left" class="mdc-layout-grid__cell--span-8-desktop as-center">
                          <img *ngIf="friend.profile == null" src="/assets/img/dashboard/default_avatar.png"/>
                          <img *ngIf="friend.profile != null" src="{{friend.profile}}" />
                          <span id="notifications-username">{{friend.friend_username}}</span>
                        </div>
                        <div id="third-tab-right" class="mdc-layout-grid__cell--span-4-desktop as-center">
                          <button mdcIconButton (click)="accept(friend.friend_user_id)"><mdc-icon class="third-tab-accept">done</mdc-icon></button>
                          <button mdcIconButton (click)="decline(friend.friend_user_id)"><mdc-icon class="third-tab-deny">clear</mdc-icon></button>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </mdc-menu>
      </div>

      <mdc-text-field (input)="onInputSearch($event);" *showIfLoggedIn="true" type="search" outlined dense label="Search..." (click)="searchBarMenu.open = !searchBarMenu.open" autocomplete="off">
        <mdc-icon mdcTextFieldIcon trailing>search</mdc-icon>
      </mdc-text-field>
      <div mdcMenuSurfaceAnchor #searchBarMenuAnchor id="searchBar-menu">
        <mdc-menu #searchBarMenu (selected)="onMenuSelect($event)" [quickOpen]="false" [fixed]="false" [anchorElement]="searchBarMenuAnchor" [anchorMargin]="{top: 33, left: -215}" class="as-scrollbar2">
          <div class="mdc-layout-grid__cell--span-12-desktop searchBar-list" *ngFor="let user of searchUserArray">
            <img *ngIf="user.picture != null"src="{{user.picture}}" />
            <img *ngIf="user.picture == null"src="/assets/img/dashboard/default_avatar.png" />
            <span class="searchBar-username" (click)="goToProfile(user.profile)"><a routerLink="/dashboard/profile">{{user.profile}}</a></span><!--TODO: cambiar el router link-->
            <button *ngIf="user.is_friend == false" mdcIconButton (click)="send(user.id)"><mdc-icon class="searchBar-user-add">person_add</mdc-icon></button>
          </div>
        </mdc-menu>
      </div>
      <i id="navbar-info-button" class="fas fa-question-circle" (click)="openInfo()"></i>
    </mdc-top-app-bar-section>

    <mdc-top-app-bar-section *showIfLoggedIn="true" align="start" id="navbar-balance">
      <div mdcMenuSurfaceAnchor #addBalanceMenuAnchor outlined [mdcElevation]="10" id="navbar-ammount" class="navbar-ammount-superSmall"><!--TODO: cambiar en funcion de los digitos que contenga, mirar en el fichero scss, linea 232-->
        <span id="as-balance">{{balance$ | async}} STK</span>
        <button mdc-icon-button id="as-add-balance" class="animated pulse" (click)="addBalanceMenu.open = !addBalanceMenu.open" disabled></button>
        <span id="as-balance2">{{balance$ | async}} EUR</span>
        <mdc-menu #addBalanceMenu (selected)="onMenuSelect($event)" [quickOpen]="false" [fixed]="false" [anchorElement]="addBalanceMenuAnchor" [anchorMargin]="{top: 52}">
          <div class="mdc-layout-grid__inner" id="addBalance-content">
            <div id="addBalance-cell" class="mdc-layout-grid__cell--span-12-desktop">
              <p>Add Balance Here</p>
              <a title="Deposit" mdc-button primary raised>DEPOSIT</a><br />
              <a title="Widthdraw" mdc-button primary raised>WIDTHDRAW</a>
            </div>
          </div>
        </mdc-menu>
      </div>
    </mdc-top-app-bar-section>

		<mdc-top-app-bar-section *showIfLoggedIn="true" align="end" id="navbar-profile">
      <img *ngIf="(profilePic$ | async) != null" src="{{profilePic$ | async}}" (click)="profilemenu.open = !profilemenu.open"/>
      <img *ngIf="(profilePic$ | async) == null" src="/assets/img/dashboard/default_avatar.png" (click)="profilemenu.open = !profilemenu.open"/>
      <span id="as-username" (click)="profilemenu.open = !profilemenu.open">{{name$ | async}}</span>
      <div mdcMenuSurfaceAnchor #profileMenuAnchor id="profile-menu">
        <button mdc-icon-button icon="keyboard_arrow_down" (click)="profilemenu.open = !profilemenu.open"></button>
        <mdc-menu #profilemenu (selected)="onMenuSelect($event)" [quickOpen]="false" [fixed]="false" [anchorElement]="profileMenuAnchor" [anchorMargin]="{top: 57, right: -5}">
          <mdc-list>
            <mdc-list-item (click)="goProfile()"><mdc-icon mdcListItemGraphic>account_circle</mdc-icon>Profile</mdc-list-item>
            <mdc-list-item (click)="goSettings()"><mdc-icon mdcListItemGraphic>settings</mdc-icon>Settings</mdc-list-item>
            <mdc-list-item (click)="logOut()"><mdc-icon mdcListItemGraphic>exit_to_app</mdc-icon>Log Out</mdc-list-item>
          </mdc-list>
        </mdc-menu>
      </div>
    </mdc-top-app-bar-section>

    <mdc-top-app-bar-section *showIfLoggedIn="false" align="end" id="navbar-not-logged">
      <button routerLink="/auth/login" mdc-button primary raised="true">LOGIN</button>
      <button routerLink="/auth/register" style="margin-left: 0.5em;" mdc-button outlined>REGISTER</button>
    </mdc-top-app-bar-section>

  </mdc-top-app-bar-row>
</mdc-top-app-bar>