<div id="as-ffa-match-results" class="mdc-layout-grid">
  <div id="as-ffa-podium" class="mdc-layout-grid__inner">
    <div id="ffa-1" class="ffa-user-box animated bounceInUp mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="10">
      <div class="mdc-layout-grid__inner">
        <div class="ffa-table-div mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <table id="as-ffa-1-results-table">
            <tr class="ffa-results-row-titles">
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1>Kills</div></th>
              <th><div mdcSubtitle1>Assists</div></th>
              <th><div mdcSubtitle1>Deaths</div></th>
              <th><div mdcSubtitle1>Headshots</div></th>
              <th><div mdcSubtitle1>Headshots %</div></th>
            </tr>

            <tr class="ffa-results-row-data">
              <td class="ffa-position"><span>#1</span></td>
              <td class="ffa-image"><img src="/assets/img/dashboard/default_avatar.png" [mdcElevation]="5" /></td>
              <td class="ffa-podium-names">{{first.username}}</td>
              <td class="ffa-stk"><span class="ffa-stk-ammount">{{first.tokens}}</span><span class="ffa-stkk">&nbsp;&nbsp;STK</span></td>
              <td class="ffa-stk-ammount2">{{first.kills}}</td>
              <td class="ffa-stk-ammount2">{{first.assists}}</td>
              <td class="ffa-stk-ammount2">{{first.deaths}}</td>
              <td class="ffa-stk-ammount2">{{first.headshots}}</td>
              <td class="ffa-stk-ammount2">50%</td>
              <td><button mdcIconButton title="Add Friend" (click)="dismissIcon()"><mdc-icon fontSet="fas" fontIcon="fa-user-plus"></mdc-icon></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="ffa-2" class="ffa-user-box animated bounceInUp mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="10">
      <div class="mdc-layout-grid__inner">
        <div class="ffa-table-div mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <table id="as-ffa-2-results-table">
            <tr class="ffa-results-row-titles">
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1>Kills</div></th>
              <th><div mdcSubtitle1>Assists</div></th>
              <th><div mdcSubtitle1>Deaths</div></th>
              <th><div mdcSubtitle1>Headshots</div></th>
              <th><div mdcSubtitle1>Headshots %</div></th>
            </tr>

            <tr class="ffa-results-row-data">
              <td class="ffa-position"><span>#2</span></td>
              <td class="ffa-image"><img src="/assets/img/dashboard/default_avatar.png" [mdcElevation]="5" /></td>
              <td class="ffa-podium-names">{{second.username}}</td>
              <td class="ffa-stk"><span class="ffa-stk-ammount">{{second.tokens}}</span><span class="ffa-stkk">&nbsp;&nbsp;STK</span></td>
              <td class="ffa-stk-ammount2">{{second.kills}}</td>
              <td class="ffa-stk-ammount2">{{second.assists}}</td>
              <td class="ffa-stk-ammount2">{{second.deaths}}</td>
              <td class="ffa-stk-ammount2">{{second.headshots}}</td>
              <td class="ffa-stk-ammount2">50%</td>
              <td><button mdcIconButton title="Add Friend" (click)="dismissIcon()"><mdc-icon fontSet="fas" fontIcon="fa-user-plus"></mdc-icon></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="ffa-3" class="ffa-user-box animated bounceInUp mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="10">
      <div class="mdc-layout-grid__inner">
        <div class="ffa-table-div mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <table id="as-ffa-3-results-table">
            <tr class="ffa-results-row-titles">
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1>Kills</div></th>
              <th><div mdcSubtitle1>Assists</div></th>
              <th><div mdcSubtitle1>Deaths</div></th>
              <th><div mdcSubtitle1>Headshots</div></th>
              <th><div mdcSubtitle1>Headshots %</div></th>
            </tr>

            <tr class="ffa-results-row-data">
              <td class="ffa-position"><span>#3</span></td>
              <td class="ffa-image"><img src="/assets/img/dashboard/default_avatar.png" [mdcElevation]="5" /></td>
              <td class="ffa-podium-names">{{third.username}}</td>
              <td class="ffa-stk"><span class="ffa-stk-ammount">{{third.tokens}}</span><span class="ffa-stkk">&nbsp;&nbsp;STK</span></td>
              <td class="ffa-stk-ammount2">{{third.kills}}</td>
              <td class="ffa-stk-ammount2">{{third.assists}}</td>
              <td class="ffa-stk-ammount2">{{third.deaths}}</td>
              <td class="ffa-stk-ammount2">{{third.headshots}}</td>
              <td class="ffa-stk-ammount2">50%</td>
              <td><button mdcIconButton title="Add Friend" (click)="dismissIcon()"><mdc-icon fontSet="fas" fontIcon="fa-user-plus"></mdc-icon></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="animated bounceInUp delay-3s mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-layout-grid__inner">
        <div id="ffa-play-again-button" class="as-center mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <a routerLink="/dashboard/versus" title="Versus" class="animated pulse" mdc-button primary>PLAY AGAIN!</a>
        </div>
      </div>
    </div>

    <div id="ffa-4" class="animated bounceInUp mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">

      <div *ngFor="let player of data" class="mdc-layout-grid__inner ffa-user-box" [mdcElevation]="10">
        <div class="ffa-table-div mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <table id="as-ffa-4-results-table">
            <tr class="ffa-results-row-titles">
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1>Kills</div></th>
              <th><div mdcSubtitle1>Assists</div></th>
              <th><div mdcSubtitle1>Deaths</div></th>
              <th><div mdcSubtitle1>Headshots</div></th>
              <th><div mdcSubtitle1>Headshots %</div></th>
            </tr>

            <tr class="ffa-results-row-data">
              <td class="ffa-position2"><span>#{{player.position}}</span></td>
              <td class="ffa-image"><img src="/assets/img/dashboard/default_avatar.png" [mdcElevation]="5" /></td>
              <td class="ffa-podium-names">{{player.username}}</td>
              <td class="ffa-stk-ammount2">{{player.kills}}</td>
              <td class="ffa-stk-ammount2">{{player.assists}}</td>
              <td class="ffa-stk-ammount2">{{player.deaths}}</td>
              <td class="ffa-stk-ammount2">{{player.headshots}}</td>
              <td class="ffa-stk-ammount2">50%</td>
              <td><button mdcIconButton title="Add Friend" (click)="dismissIcon()"><mdc-icon fontSet="fas" fontIcon="fa-user-plus"></mdc-icon></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>