/* >>>>> CONTENT OF FFA MATCH RESULTS <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

.ffa-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ffa-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#as-ffa-match-results {
    color: #FFFFFF;
    font-family: $as-primary-font;
    padding-top: 4em;
}

.ffa-user-box {
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    background-color: $as-secondary-color;
    padding: 1em;
    //word-break: break-all;
    width: 93%;
    margin: 0 auto;
    margin-bottom: 2em;
}

#ffa-1 {
    box-shadow: 0em 0em 2.5em #FFD700; //Gold Color
    animation-delay: 1s;
    animation-duration: 0.7s;
}

#ffa-2 {
    box-shadow: 0em 0em 2.5em #C0C0C0; //Silver Color
    animation-delay: 1.7s;
    animation-duration: 0.7s;
}

#ffa-3 {
    box-shadow: 0em 0em 2.5em #cd7f32; //Bronce Color
    animation-delay: 2.4s;
    animation-duration: 0.7s;
}

.ffa-table-div {
    overflow: auto;
}

#ffa-play-again-button {
    text-align: center;
    margin-bottom: 1em;
}

#ffa-play-again-button a {
    font-weight: 700;
    font-size: 2em;
    padding: 1em;
    box-shadow: 0em 0em 0.8em #FFFFFF;

    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

#ffa-4 {
    animation-delay: 3.7s;
    animation-duration: 0.7s;
}

#ffa-2 img, #ffa-1 img, #ffa-3 img {
    width: 5em;
    height: 5em;
    border-radius: 0.3em;
}

#ffa-4 img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 0.3em;
}

.ffa-position {
    padding-right: 0.5em;
    font-weight: 700;
    font-size: 2.3em;
    padding-left: 0.3em;
    position: relative;
    top: -0.2em;
}

.ffa-position2 {
    padding-right: 1.5em;
    font-weight: 700;
    font-size: 1.7em;
    padding-left: 0.3em;
    position: relative;
    top: -0.2em;
}

.ffa-image {
    position: relative;
    top: -0.6em;
}

.ffa-podium-names {
    font-size: 1.2em;
    position: relative;
    top: -0.5em;
}

.ffa-stk-ammount {
    font-size: 1.8em;
    font-weight: 700;
    color: $as-primary-color;
}

.ffa-stk-ammount2 {
    font-size: 1.5em;
}

.ffa-stk {
    position: relative;
    top: -0.6em;
    text-align: left;
}

.ffa-stkk {
    font: small-caption;
}

#as-ffa-1-results-table, #as-ffa-2-results-table, #as-ffa-3-results-table, #as-ffa-4-results-table {
    width: 100%;
    overflow: auto;
}

.ffa-results-row-titles div {
    font-weight: 700;
    font-size: 1.2em;
}

#ffa-1 mdc-icon, #ffa-2 mdc-icon, #ffa-3 mdc-icon, #ffa-4 mdc-icon {
    color: $as-dark-orange-color;
}

.ffa-results-row-data {
    text-align: center;
}

//////////////////////////

#ffa-particles {
    width: 98%;
    height: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.1;
    margin-top: -4em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1570px) {
    
}

@media (max-width: 1460px) {

}

@media (max-width: 1400px) {
    
}

@media (max-width: 1330px) {
    
}

@media (max-width: 1250px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 590px) {

}

@media (max-width: 570px) {
    
}

@media (max-width: 530px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    
}

@media (max-width: 400px) {
    
}