<ng-container *showIfLoggedIn="true">
  <ng-container *ngIf="(showStats$ | async) == false">
    <div id="as-profile" class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner" id="as-profile-banner">
        <img *ngIf="(banner$ | async) == null" id="as-profile-banner-grande" src="/assets/img/dashboard/default_banner.jpg" />
        <img *ngIf="(banner$ | async) != null" id="as-profile-banner-grande" src="{{banner$ | async}}" />
        <div class="mdc-layout-grid__cell--span-2-desktop">
          <img *ngIf="(profilePic$ | async) == null" id="as-profile-banner-image" src="/assets/img/dashboard/default_avatar.png" />
          <img *ngIf="(profilePic$ | async) != null" id="as-profile-banner-image" src="{{profilePic$ | async}}" />
        </div>
        <div class="mdc-layout-grid__cell--span-10-desktop">
          <mdc-tab-bar #profiletabs (activated)="logTab($event)" [activeTabIndex]="0" [fade]="true" class="as-remove-hor-scroll">
            <mdc-tab-scroller>
              <mdc-tab routerLink="overview">Overview</mdc-tab>
              <mdc-tab routerLink="stats">Stats</mdc-tab>
              <mdc-tab routerLink="history">History</mdc-tab>
              <mdc-tab routerLink="friends">Friends</mdc-tab>
              <ng-container *ngIf="correctuser == true"><!--TODO: MOSTRAR SOLO CUANDO ESTAS VIENDO TU PERFIL-->
                <mdc-tab routerLink="settings">Settings</mdc-tab>
              </ng-container>
            </mdc-tab-scroller>
          </mdc-tab-bar>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </ng-container>
  <ng-container *ngIf="(showStats$ | async) == true">
    <app-match-results-fives-history></app-match-results-fives-history>
  </ng-container>
</ng-container>
<ng-container *showIfLoggedIn="false">
  <div id="as-not-logged" class="mdc-layout-grid__inner">
    <div class="as-text-box mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-1-phone">
      <h3 class="orange-text">IT'S FUNNIEST</h3>
      <h3>IF YOU ARE</h3>
      <h3 class="orange-text">REGISTERED</h3>
      <button routerLink="/auth/register" id="button-register" mdc-button dense outlined>REGISTER</button>
      <h3>OR JUST</h3>
      <h3 class="orange-text">LOG IN</h3>
      <button routerLink="/auth/login" id="button-register" mdc-button dense outlined>LOG IN</button>
    </div>
    <div class="as-image-box mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-3-phone">
      <img src="/assets/img/dashboard/gallina.png"/>
    </div>
  </div>
</ng-container>