/* >>>>> PROFILE <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-profile {
    background-color: $as-dashboard-background-color;
    color: #FFFFFF;
    font-family: $as-primary-font;
    padding: 0;
}

////////////////////////////////////////
// Profile Banner
////////////////////////////////////////

#as-profile-banner {
    height: 18em;
    border-radius: 0.1em;
}

#as-profile-banner .mdc-layout-grid__cell--span-2-desktop { //Imagen de perfil abajo del todo
    display: flex;
    align-items: flex-end;
}

#as-profile-banner .mdc-layout-grid__cell--span-10-desktop { //TABS
    display: flex;
    align-items: flex-end;
}

#as-profile-banner-grande {
    width: 100%;
    position: absolute;
    max-height: 18em;
    object-fit: cover;
    height: 100%;
}

#as-profile-banner-image {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    position: relative;
    bottom: -25%;
    left: 15%;
}

#as-profile-banner {
    margin-bottom: 6em;
}

#as-profile-banner mdc-tab-bar {
    position: relative;
    bottom: -3em;
    transition: 0.4s ease-in-out;
}

#as-profile-banner mdc-tab {
    font-weight: 700;
    letter-spacing: 0.2em;
}

////////////////////////////////////////
// Not Logged
////////////////////////////////////////

#as-not-logged {
    background-color:  $as-dashboard-background-color;
    padding-left: 2em;
}

.as-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-text-box {
    font-family: $as-landing-font;
    font-size: 2.5em;
    color: #FFFFFF;
    text-align: center;
}

.as-image-box img {
    width: 50%;
}

.orange-text {
    color: $as-primary-color;
}

#button-register {
    border-color: $mdc-theme-primary;
    transition: 0.4s;
    font-family: $as-landing-font;
    font-weight: 700;
}

#button-register:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1136px) {
    .as-text-box {
        font-size: 2.3em;
    }
}

@media (max-width: 1071px) {
    .as-text-box {
        font-size: 2em;
    }
}

@media (max-width: 1024px) {
    #as-profile-banner .mdc-layout-grid__cell--span-10-desktop { //TABS
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 961px) {
    .as-text-box {
        font-size: 1.8em;
    }
}

@media (max-width: 895px) {
    .as-text-box {
        font-size: 1.6em;
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-profile-banner mdc-tab-bar {
        position: absolute;
        top: 22.5em;
        transition: 0.4s ease-in-out;
        max-width: 99%;
        margin-inline-start: -6em;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
   
}

@media (max-width: 600px) {
    
}

@media (max-width: 574px) {
    .as-text-box {
        font-size: 1.4em;
    }
}

@media (max-width: 516px) {
    .as-text-box {
        font-size: 1.2em;
    }
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    .as-image-box {
        @include mdc-layout-grid-cell(desktop, 12, 0);
    }

    .as-text-box {
        @include mdc-layout-grid-cell(desktop, 12, 0);
        font-size: 2em;
    }
}

@media (max-width: 400px) {
    
}