/* >>>>> INVITE TO LOBBY <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

:host {
  background-color: #e5e5e5;
  font-family: $as-primary-font;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 0.6em;
  width: 19.5em;
  height: 4em;
  border-radius: 0.3em;
  color: #000000;
  pointer-events: all;
}

#as-toastr .as-toastr-img {
  border-radius: 0.2em;
  width: 2.8em;
}

#as-toastr-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#as-toastr-accept-button {
  background-color: $as-light-green;
  border: 0;
  border-radius: 0.3em;
  padding: 0.5em;
  margin-right: 0.3em;
  cursor: pointer;
  box-shadow:inset 0 -0.6em 0 -0.35em $as-green-color;
  transition: 0.2s ease-in-out;
}

#as-toastr-accept-button:hover {
  box-shadow:inset 0 0 0 0 $as-green-color;
}

#as-toastr-accept-button mdc-icon {
  font-size: 1.3em;
}

#as-toastr-deny-button {
  background-color: $as-light-red;
  border: 0;
  border-radius: 0.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  cursor: pointer;
  box-shadow:inset 0 -0.6em 0 -0.35em #960000;
  transition: 0.2s ease-in-out;
}

#as-toastr-deny-button:hover {
  box-shadow:inset 0 0 0 0 #960000;
}

#as-toastr-deny-button mdc-icon {
  font-size: 1.3em;
}