<div [style.display]="state.value === 'inactive' ? 'none' : ''">
  <div id="as-toastr" class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
      <img class="as-toastr-img" src="/assets/img/dashboard/default_avatar.png" />
    </div>
    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
      <div *ngIf="message && !options.enableHtml" role="alert" aria-live="polite"
      [class]="options.messageClass" [attr.aria-label]="message">
      {{message}}
    </div>
    </div>
    <div id="as-toastr-buttons" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
      <button id="as-toastr-accept-button" (click)="accept($event);"><mdc-icon fontSet="fas" fontIcon="fa-check"></mdc-icon></button>
      <button id="as-toastr-deny-button" (click)="decline();"><mdc-icon fontSet="fas" fontIcon="fa-times"></mdc-icon></button>
    </div>
  </div>
</div>
