<div id="as-5vs5-match-results" class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div id="fives-team1" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-layout-grid__inner">
        <div id="fives-team1-name" class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div mdcHeadline4>Red Team</div><!--TODO: Nombre del team 1-->
        </div>
        <div id="fives-team1-stk" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div mdcHeadline4></div><!--TODO: Tokens ganados. Si el equipo pierde no se muestra nada-->
        </div>
        <div id="fives-team1-result" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div mdcHeadline4 [ngClass]="team1_score > team2_score ? 'fives-win' : 'fives-lose'">{{team1_score}}</div><!--TODO: Resultado team 1-->
        </div>
      </div>
      <hr />
      <div class="mdc-layout-grid__inner">
        <div class="fives-tables mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <table class="as-fives-both-results-table">
            <tr class="fives-results-row-titles">
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1>&nbsp;</div></th>
              <th><div mdcSubtitle1>Player</div></th>
              <th><div mdcSubtitle1>Kills</div></th>
              <th><div mdcSubtitle1>Assists</div></th>
              <th><div mdcSubtitle1>Deaths</div></th>
              <th><div mdcSubtitle1>Headshots</div></th>
              <th><div mdcSubtitle1>Headshots %</div></th>
              <th><div mdcSubtitle1>K/R Ratio</div></th>
              <th><div mdcSubtitle1>K/D Ratio</div></th>
            </tr>
            
            <tr *ngFor="let player of team1" class="fives-results-row-data"><!--TODO: Repetir esta fila para el team 1-->
              <td></td>
              <td class="as-center">
                  <img *ngIf="player.picture == null" src="/assets/img/dashboard/default_avatar.png" />
                  <img *ngIf="player.picture != null" src="{{player.picture}}" />
              </td>
              <td>{{player.user}}</td>
              <td>{{player.kills}}</td>
              <td>{{player.assists}}</td>
              <td>{{player.deaths}}</td>
              <td>{{player.headshots}}</td>
              <td>{{((player.headshots / (player.kills == 0 ? 1 : player.kills))*100) | number: '2.1-2'}}</td>
              <td>{{(player.kills / team1_score) | number: '1.1-2'}}</td>
              <td >{{(player.kills / (player.deaths == 0 ? 1 : player.deaths)) | number: '1.1-2'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div id="fives-team2" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div class="mdc-layout-grid__inner">
        <div id="fives-team2-name" class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div mdcHeadline4>Blue Team</div><!--TODO: Nombre del team 1-->
        </div>
        <div id="fives-team2-stk" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div mdcHeadline4></div><!--TODO: Tokens ganados. Si el equipo pierde no se muestra nada-->
        </div>
        <div id="fives-team2-result" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div mdcHeadline4 [ngClass]="team1_score < team2_score ? 'fives-win' : 'fives-lose'">{{team2_score}}</div><!--TODO: Resultado team 2-->
        </div>
      </div>
      <hr />
      <div class="mdc-layout-grid__inner">
        <div class="fives-tables mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <table class="as-fives-both-results-table">
            <tr class="fives-results-row-titles">
              <th><div mdcSubtitle1></div></th>
              <th><div mdcSubtitle1>&nbsp;</div></th>
              <th><div mdcSubtitle1>Player</div></th>
              <th><div mdcSubtitle1>Kills</div></th>
              <th><div mdcSubtitle1>Assists</div></th>
              <th><div mdcSubtitle1>Deaths</div></th>
              <th><div mdcSubtitle1>Headshots</div></th>
              <th><div mdcSubtitle1>Headshots %</div></th>
              <th><div mdcSubtitle1>K/R Ratio</div></th>
              <th><div mdcSubtitle1>K/D Ratio</div></th>
            </tr>
            
            <tr *ngFor="let player of team2" class="fives-results-row-data"><!--TODO: Repetir esta fila para el team 2-->
              <td></td>
              <td class="as-center">
                <img *ngIf="player.picture == null" src="/assets/img/dashboard/default_avatar.png" />
                <img *ngIf="player.picture != null" src="{{player.picture}}" />
              </td>
              <td>{{player.user}}</td>
              <td>{{player.kills}}</td>
              <td>{{player.assists}}</td>
              <td>{{player.deaths}}</td>
              <td>{{player.headshots}}</td>
              <td>{{((player.headshots / (player.kills == 0 ? 1 : player.kills))*100) | number: '2.1-2'}}</td>
              <td>{{(player.kills / team2_score) | number: '1.1-2'}}</td>
              <td >{{(player.kills / (player.deaths == 0 ? 1 : player.deaths)) | number: '1.1-2'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="fives-play-again-button" class="as-center">
        <a (click)="returnProfile()" title="Versus" class="animated pulse" mdc-button primary>Go back</a>
      </div>
    </div>

  </div>
</div>