<mdc-drawer id="as-sidebar" drawer="permanent">
  <mdc-drawer-content class="as-sidebar-hide-scroll">
    <mdc-list class="list-sidebar" useActivatedClass>
      <a routerLink="/home" mdc-list-item class="as-sidebar-icons">
        <mdc-icon mdcListItemGraphic>home</mdc-icon>
        Home 
      </a>
      <a routerLink="/versus" mdc-list-item class="as-sidebar-icons">
        <mdc-icon mdcListItemGraphic>compare_arrows</mdc-icon>
        Versus
      </a>
      <a (click)="profileRoute();" mdc-list-item class="as-sidebar-icons profile-item">
        <mdc-icon mdcListItemGraphic>account_circle</mdc-icon>
        Profile
      </a>
      <a mdc-list-item class="as-sidebar-soon">
        <mdc-icon fontSet="fas" fontIcon="fa-arrow-down"></mdc-icon>
        Coming Soon
        <mdc-icon fontSet="fas" fontIcon="fa-arrow-down"></mdc-icon>
      </a>
      <!--<a href="https://www.arenastack.com/blog/" target="_blank" mdc-list-item class="as-sidebar-icons">
        <mdc-icon mdcListItemGraphic>rss_feed</mdc-icon>
        Blog
      </a>
      <a href="https://www.arenastack.com/forum/" target="_blank" mdc-list-item class="as-sidebar-icons">
        <mdc-icon mdcListItemGraphic>forum</mdc-icon>
        Forum
      </a>-->
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>rss_feed</mdc-icon>
        Blog
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>forum</mdc-icon>
        Forum
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>group</mdc-icon>
        Teams
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>account_balance_wallet</mdc-icon>
        Wallet
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>whatshot</mdc-icon>
        Challenges
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>star</mdc-icon>
        Arena Leaders
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>chat</mdc-icon>
        Chat Room
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>event</mdc-icon>
        Events
      </a>
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>help</mdc-icon>
        Help Center
      </a>
      
      <a mdc-list-item class="disabled-links as-sidebar-icons-disabled">
        <mdc-icon mdcListItemGraphic>settings</mdc-icon>
        Settings
      </a>

      <!-- <a routerLink="{{item.url}}" mdc-list-item *ngFor="let item of destinations" id="as-sidebar-links">
        <mdc-icon mdcListItemGraphic *ngIf="item.icon">{{item.icon}}</mdc-icon>
        {{item.label}}
      </a> -->

      <ng-container class="as-status-ok" *ngIf="false">
        <a mdc-list-item class="as-status-ok"><mdc-icon fontSet="far" fontIcon="fa-check-circle"></mdc-icon>All Systems Operational</a>
      </ng-container>

      <ng-container class="as-status-maintenance" *ngIf="false">
        <a mdc-list-item class="as-status-maintenance"><mdc-icon fontSet="fas" fontIcon="fa-wrench"></mdc-icon>Maintenance and fixing bugs</a>
      </ng-container>

      <ng-container class="as-status-rip" *ngIf="false">
        <a mdc-list-item class="as-status-rip"><mdc-icon fontSet="fas" fontIcon="fa-exclamation-triangle"></mdc-icon>RIP</a>
      </ng-container>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>