/* >>>>> NAVBAR OF LANDING PAGE <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-sidebar {
    width: 14em;
    position: fixed;
    margin-top: 4em;
    background: $as-secondary-color;
    font-family: $as-primary-font;
    @include mdc-drawer-item-activated-text-ink-color($as-primary-color);
    @include mdc-drawer-item-activated-icon-ink-color($as-primary-color);
    @include mdc-drawer-activated-overlay-color(transparent);
    transition: 0.2s ease-in-out;
}

.as-sidebar-hide-scroll {
    overflow: hidden;
}

#as-sidebar a {
    color: $as-white-color;
    border-radius: 0;
}

#as-sidebar .as-sidebar-icons mdc-icon {
    color: $as-primary-color;
    margin-right: 0.71em;
}

#as-sidebar .as-sidebar-icons-disabled mdc-icon {
    color: #909090;
    margin-right: 0.71em;
}

#as-sidebar .as-sidebar-icons-disabled {
    color: #909090;
}

#as-sidebar .as-sidebar-soon {
    justify-content: center;
}

.as-sidebar-soon mdc-icon {
    color: $as-primary-color;
    margin-right: 0.71em;
    margin-left: 0.71em;
}

.list-sidebar {
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.mdc-list-item {
    background-color: transparent;
}

.mdc-list-item--activated {
    border-right: 0.2em solid $as-primary-color;
    background: $as-light-gray;
    opacity: 0.8;
}

.profile-item {
    cursor: pointer;
}

// Status of the web

.as-status-ok {
    color: $as-green-color;
}

.as-status-ok mdc-icon {
    color: $as-green-color;
    font-size: 1.6em;
    margin-right: 0.71em;
}

.as-status-maintenance {
    color: orange;
}

.as-status-maintenance mdc-icon {
    color: orange;
    font-size: 1.6em;
    margin-right: 0.71em;
}

.as-status-rip {
    color: $as-light-red;
}

.as-status-rip mdc-icon {
    color: $as-light-red;
    font-size: 1.6em;
    margin-right: 0.71em;
}

.disabled-links {
    pointer-events: none;
    cursor: not-allowed;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    
}

@media (max-width: 930px) {
    #as-sidebar {
        width: 3em;
    }

    #as-sidebar .as-sidebar-soon {
        justify-content: flex-start;
    }
    
    .as-sidebar-soon mdc-icon {
        margin-right: 1.4em;
        margin-left: 0.5em;
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    #as-sidebar {
        margin-top: 3.5em;
    }    
}


@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}