/* >>>>> QUICK REF POP UP <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#quick-ref-pop-up {
    background-color: $as-secondary-color;
    margin-left: 14em;
    transition: 0.4s ease-in-out;
    max-width: 29em;
    max-height: 39em;
}

.quick-ref-pop-up {
    font-family: $as-primary-font;
    //text-transform: uppercase;
    padding: 1em;
    color: $as-white-color;
}

#quick-ref-close {
    position: absolute;
    color: $as-primary-color;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

#quick-ref-pop-up .mdc-layout-grid {
    padding: 0;
    width: 100%;
}

#quick-ref-pop-up-title {
    font-weight: 700;
    text-align: center;
    color: $as-primary-color;
}

#quick-ref-pop-up hr {
    border-color: $as-light-gray;
}

#quick-ref-pop-up-timer {
    text-align: center;
    color: $as-dark-orange-color;
}

.quick-ref-pop-up-content {
    margin: 0 auto;
    word-break: break-all;
}

.quick-ref-pop-up-content dd {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.quick-ref-pop-up-content iframe {
    width: 100%;
    height: 15em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1280px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1100px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #quick-ref-pop-up {
        margin-left: 3em;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}