<mdc-dialog id="quick-ref">
    <mdc-dialog-container>
      <mdc-dialog-surface id="quick-ref-pop-up" class="quick-ref-pop-up">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <i id="quick-ref-close" class="fas fa-times" (click)="closeDialog()"></i>
              <div mdcHeadline5 id="quick-ref-pop-up-title">WELCOME STACKER!</div>
              <hr />
            </div>
            <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone quick-ref-pop-up-content">
              <p style="font-size: 1.2em; margin-block-start: 0; margin-block-end: 0;">¡Bienvenido a la Arena Stack beta!</p>
              <br />
              <p>Para jugar debes seguir los siguientes pasos:</p>
              <dl>
                <dd>- Ir a la pestaña "Versus" en el menú del lado izquierdo.</dd>
                <dd>- Invita a tus amigos y haz clic en "GO!"</dd>
                <dd>- Confirmar la partida encontrada.</dd>
                <dd>- ¡Elige el mapa y juega!</dd>
              </dl>
              <iframe src="https://www.youtube.com/embed/ndXXncyIGuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p style="word-break: break-word;">Si tiene alguna sugerencia o observa algún error, envíenos un correo electrónico haciendo clic <a href="https://www.arenastack.com/players/" target="_blank" style="text-decoration: none; color: #ff6d00;">aquí.</a></p>
            </div>
          </div>
        </div>
  
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
  
  