<div class="mdc-layout-grid__inner" id="as-profile-stats">
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-total-earnings">
        <div id="as-profile-total-earnings-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">Played Games</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-withdrawed">
        <div id="as-profile-withdrawed-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">Won Games</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-grow-month">
        <div id="as-profile-grow-month-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">Stage Stays</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-current-rank">
        <div id="as-profile-current-rank-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">Total Kills</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-total-won">
        <div id="as-profile-total-won-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">K/D Ratio</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>     
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-tercera">
        <div id="as-profile-tercera-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">Total Headshots %</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <div id="as-profile-cuarta">
        <div id="as-profile-cuarta-box" class="mdc-elevation--z7">
          <div mdcHeadline6 class="as-profile-stats-headers">Earned Tokens</div>
          <hr />
          <p class="as-profile-stats-numbers">0</p>
        </div>
      </div>
    </div>
  </div>