/* >>>>> PROFILE <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-profile-stats .mdc-layout-grid__cell--span-4-desktop {
    padding-bottom: 2em;
}

#as-profile-stats {
    padding-left: 1em;
    padding-right: 1em;
    font-family: $as-primary-font;
}

.as-profile-stats-headers {
    text-align: left;
    padding-left: 0.7em;
    padding-top: 0.3em;
}

.as-profile-stats-numbers {
    font-size: 1.2em;
}

///////////////////////////////////////////
// Stats Boxes: Total Earnings
///////////////////////////////////////////

#as-profile-total-earnings {
    display: flex;
    justify-content: center;
}

#as-profile-total-earnings-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-total-earnings-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

///////////////////////////////////////////
// Stats Boxes: Withdrawed
///////////////////////////////////////////

#as-profile-withdrawed {
    display: flex;
    justify-content: center;
}

#as-profile-withdrawed-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-withdrawed-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

///////////////////////////////////////////
// Stats Boxes: Grow this month
///////////////////////////////////////////

#as-profile-grow-month {
    display: flex;
    justify-content: center;
}

#as-profile-grow-month-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-grow-month-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

///////////////////////////////////////////
// Stats Boxes: Current rank
///////////////////////////////////////////

#as-profile-current-rank {
    display: flex;
    justify-content: center;
}

#as-profile-current-rank-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-current-rank-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

///////////////////////////////////////////
// Stats Boxes: Total won
///////////////////////////////////////////

#as-profile-total-won {
    display: flex;
    justify-content: center;
}

#as-profile-total-won-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-total-won-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

///////////////////////////////////////////
// Stats Boxes: Tercera stat
///////////////////////////////////////////

#as-profile-tercera {
    display: flex;
    justify-content: center;
}

#as-profile-tercera-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-tercera-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

///////////////////////////////////////////
// Stats Boxes: Cuarta stat
///////////////////////////////////////////

#as-profile-cuarta {
    display: flex;
    justify-content: center;
}

#as-profile-cuarta-box {
    width: 95%;
    background-color: $as-secondary-color;
    border: 1px solid $as-light-gray;
    border-radius: 0.3em;
    text-align: center;
    padding-bottom: 0.5em;
}

#as-profile-cuarta-box hr {
    width: 95%;
    border-color: $as-light-gray;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1450px) {

}

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-profile-stats {
        margin-top: 9em;
    }

    #as-profile-stats .mdc-layout-grid__cell--span-3-desktop {
        padding-bottom: 2em;
    }

    #as-profile-stats .mdc-layout-grid__cell--span-3-desktop:last-child {
        padding-bottom: 0;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}