<div id="as-lobby">
  <ng-container *ngIf="(map_ended$ | async) == true">
    <ng-container [ngSwitch]="gamemode$ | async">
      <ng-container *ngSwitchCase="'ffa'">
        <app-match-results></app-match-results>
      </ng-container>
      <ng-container *ngSwitchCase="'fives'">
        <app-match-results-fives></app-match-results-fives>
      </ng-container>
      <ng-container *ngSwitchCase="'solo'">
        <app-match-results-ones></app-match-results-ones>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="(map_ended$ | async) == false">
    <ng-container [ngSwitch]="gamemode$ | async">
        <ng-container *ngSwitchCase="'ffa'">
          <app-ffa></app-ffa>
        </ng-container>
        <ng-container *ngSwitchCase="'solo'">
          <app-ones></app-ones>
        </ng-container>
        <ng-container *ngSwitchCase="'duo'">
          <app-twos></app-twos>
        </ng-container>
        <ng-container *ngSwitchCase="'fives'">
          <app-fives></app-fives>
        </ng-container>
      </ng-container>
  </ng-container>
  
</div>