<header id="as-renew-password-navbar" class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" role="toolbar">
        <a routerLink="/"><span id="as-navbar-logo"><img src="assets/img/login/ASnavbar.png" alt="Arena Stack" /></span></a>
      </section>
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
        <span id="as-register-text">Also registered? Log In!</span>
        <button id="as-register-button" routerLink="/auth/login" class="mdc-button mdc-button--outlined mdc-button--dense">
          <span class="mdc-button__label">LOG IN</span>
        </button>
      </section>
    </div>
  </header>
  <div id="as-main-renew-password-page" class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div id="as-renew-password-background" class="mdc-layout-grid__cell--span-7-desktop">
          <div id="as-renew-password-slogan">
            <p>WE ARE HERE</p>
            <p>TO <span style="color: #FF6D00;">HELP</span> YOU</p>
          </div>
        </div>
        <div id="as-renew-password-form" class="mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <div id="as-renew-password-form-box">
            <div id="as-renew-password-form-header" class="mdc-typography--headline6">
              <span>Renew Password</span>
              <img src="/assets/img/login/ASLogo_025opacity.png" />
            </div>
            <hr />
            <div id="as-renew-password-form-content">
              <form (ngSubmit)="onSubmit()" [formGroup]="renewpasswordForm">
                <mdc-text-field (input)="reset()" type="password" formControlName="password" label="New Password" id="as-renew-password-password" [mdcElevation]="5">
                  <mdc-icon mdcTextFieldIcon trailing>lock</mdc-icon>
                </mdc-text-field>
                <div id="as-helper-password" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors.pattern">
                    Password must contain at least one uppercase and one number
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 8 characters long
                  </div>
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                </div>
                <br />
                <mdc-text-field (input)="reset()" type="password" formControlName="password2" label="Repeat Password" id="as-renew-password-password2" [mdcElevation]="5">
                  <mdc-icon mdcTextFieldIcon trailing>lock</mdc-icon>
                </mdc-text-field>
                <div id="as-helper-password" *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors.pattern">
                    Password must contain at least one uppercase and one number
                  </div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 8 characters long
                  </div>
                  <div *ngIf="password.errors.required">
                    Password is required.
                  </div>
                </div>
                <div id="as-helper-password" *ngIf="same_password == false">
                  Passwords don´t match
                </div>
                <br />
                <button mdc-button primary id="as-renew-password-button" [mdcElevation]="5">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>