/////////////////////////////////////////
//      CSS INVITE FRIENDS
/////////////////////////////////////////

@import "src/arena_theme.scss";

#as-versus-friend-list {
    background-color: $as-secondary-color;
    margin-left: 14em;
    transition: 0.4s ease-in-out;
    height: 15.8em;
    width: 17.5em;
    overflow-y: auto;
    padding-top: 0.5em;
}

.as-versus-friend-list {
    font-family: $as-primary-font;
    color: $as-white-color;
}

#friends-list {
    color: white;
}

#friends-list mdc-list-item {
    cursor: pointer;
}

.profile-image {
    width: 2.5em;
    height: 2.5em;
    border-radius: 0.3em;
    margin-right: 2em;
}

.icon-list {
    color: $as-dark-orange-color;
    position: absolute;
    right: 1em;
}

#invite-friends-empty {
    font-family: $as-primary-font;
    text-align: center;
    padding: 0.5em;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/assets/img/login/ASLogo_025opacity.png") no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
}


/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-versus-friend-list {
        margin-left: 3em;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}