<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface id="as-versus-friend-list" class="as-scrollbar as-versus-friend-list">
      <ng-container *ngIf="empty == true">
        <div id="invite-friends-empty">
          <h1 class="mdc-typography--headline5">No friends to invite!</h1>
        </div>
      </ng-container>
      <ng-container *ngIf="empty == false">
        <mdc-list id="friends-list">
          <mdc-list-item (click)="inviteFriend(friend.friend_user_id)" *ngFor="let friend of friends">
            <img *ngIf="friend.profile == null" class="profile-image" src="/assets/img/dashboard/default_avatar.png"/>
            <img *ngIf="friend.profile != null" class="profile-image" src="{{friend.profile}}"/>
            {{friend.friend_username}}
            <mdc-icon class="icon-list" fontSet="fas" fontIcon="fa-plus-circle"></mdc-icon>
          </mdc-list-item>
        </mdc-list>
      </ng-container>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>