<app-dash-nav></app-dash-nav>
<app-debug-button></app-debug-button>
<div mdcMenuSurfaceAnchor class="mdc-layout__row--no-wrap mdc-drawer-app">
    <app-sidebar></app-sidebar>
    
    <div class="drawer-app-content">
        <router-outlet></router-outlet>
    </div>
</div>


