/* >>>>> MAIN LAYOUT OF DASHBOARD <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

.drawer-app-content{
    position: relative;
    margin-left: 14em;
    margin-top: 4em;
    width: 100%;
    transition: 0.2s ease-in-out;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    
}

@media (max-width: 930px) {
    .drawer-app-content { //SIDEBAR SE ESCONDE A LA IZQUIERDA
        margin-left: 3em;
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    //.drawer-app-content {
        //margin-top: 3.5em;
    //}
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}