/* >>>>> PROFILE FRIENDS <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-profile-friends {
    padding-left: 1em;
    padding-right: 1em;
}

#as-profile-friends-cell {
    display: flex;
    font-family: $as-primary-font;
}

#as-profile-friends-cell mdc-image-list {
    margin-inline-start: 0;
}

.as-profile-friend-box {
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
    width: 8em;
    cursor: pointer;
}

.as-profile-friend-box a {
    text-decoration: none;
}

.as-profile-friend-box img {
    border-radius: 0.3em;
}

.as-profile-friend-username {
    color: $as-white-color;
    justify-content: center;
}

/////////////////////////////////////////

#as-profile-friends-empty {
    color: #bababa;
    background: url("/assets/img/login/ASLogo_025opacity.png") no-repeat;
    background-position: center center;
    background-size: contain;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#as-profile-friends-empty p {
    margin-top: 2em;
    font-family: $as-primary-font;
    font-size: 1.5em;
}

#as-profile-friends-empty p:last-child {
    margin-top: 0em;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1400px) {
    
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-profile-friends {
        margin-top: 9em
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
   
}

@media (max-width: 600px) {
    
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.

}

@media (max-width: 400px) {
    
}