<div class="mdc-layout-grid__inner" id="as-profile-friends">
  <ng-container *ngIf="friends != []">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-friends-cell">
      <mdc-image-list>
        <mdc-image-list-item (click)="goProfile(friend.friend_username)" class="as-profile-friend-box mdc-elevation--z5" *ngFor="let friend of friends">
          <a>
            <mdc-image-list-image-aspect class="as-profile-friend-img">
              <img *ngIf="friend.profile == null" mdcImageListImage src="/assets/img/dashboard/default_avatar.png"/>
              <img *ngIf="friend.profile != null" mdcImageListImage src="{{friend.profile}}" />
            </mdc-image-list-image-aspect>
            <mdc-image-list-supporting class="as-profile-friend-username">
              <span mdcImageListLabel>{{friend.friend_username}}</span>
            </mdc-image-list-supporting>
          </a>
        </mdc-image-list-item>
      </mdc-image-list>
    </div>
  </ng-container>
  <ng-container *ngIf="friends == []">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="as-profile-friends-empty">
      <div class="mdc-layout-grid__inner" style="width:100%;">
        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="text-align:center;">
          <p>Nothing here.</p>
          <p>Go to the search bar and add your friends!</p>
        </div>
      </div>
    </div>
  </ng-container>  
</div>