/* >>>>> ARENA STACK - SCSS THEME <<<<< */

/* --> theme <-- */

$mdc-theme-primary: #FF6D00; //Primary color
$mdc-theme-secondary: #303030; //Secondary color

$mdc-theme-accent: #018786; // baseline teal, 600 tone -- MODIFICAR CUANDO SE DE EL CASO
$mdc-theme-background: #fff; //Theme background color
$mdc-theme-surface: #fff; //Content background color
$mdc-theme-error: #b00020; //Theme error color
$mdc-theme-on-error: #fff;


////////////////////////////////////////
@import "~@angular-mdc/theme/material"; //DON'T MOVE THIS LINE, the mdc variables should go up of this line and the custom variables should go down.
////////////////////////////////////////

/* CUSTOM VARIABLES */
$as-primary-color: #FF6D00;
$as-secondary-color: #303030;
$as-dark-orange-color: #C43C00;
$as-light-orange-color: #FF9E40;
$as-light-gray: #595959;
$as-sos-gray: #414141;
$as-dashboard-background-color: #1C1C1C;
$as-white-color: #FFFFFF;
$as-green-color: #007200;
$as-light-green: #33cc33;
$as-red-color: #C20000;
$as-light-red: #e60000;
$as-primary-font: 'Roboto', sans-serif;
$as-landing-font: 'Roboto Condensed', sans-serif;

$twitch-color: #6441A4;
$twitter-color: #1DA1F2;
$youtube-color: #FF0000;
$instagram-color: #c32aa3;

///////////////////////////////////////////////////////////////////

body {
    margin: 0;
    background-color: $as-dashboard-background-color; //BACKGROUND COLOR OF THE ENTIRE APP
}

.mdc-layout__row {
    display: flex;
    flex-flow: row wrap;
}

.mdc-layout__row--no-wrap {
    display: flex;
    flex-direction: row;
}

///////////////////////////////////////////////////////////////////
// Master Classes by Román 
///////////////////////////////////////////////////////////////////

.as-center { //To center anything
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-vcenter {
    display: flex;
    align-items: center;
}

.as-remove-hor-scroll { //To remove scroll, for example: firefox
    overflow: hidden;
}

///////////////////////////////////////////////////////////////////
// Scroll Bar - /src/app/index.html
///////////////////////////////////////////////////////////////////

.as-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $as-light-gray;
}
 
.as-scrollbar::-webkit-scrollbar {
    width: 0.7em;
}
 
.as-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $as-primary-color;
}

// Scrollbar mas fina:

.as-scrollbar2::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $as-light-gray;
}
 
.as-scrollbar2::-webkit-scrollbar {
    width: 0.4em;
}
 
.as-scrollbar2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $as-primary-color;
}

///////////////////////////////////////////////////////////////////
// Horizontal Scroll Bar (To remove it in firefox)
///////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////
// Dashboard Navbar - /src/app/shared/dash-nav
///////////////////////////////////////////////////////////////////

#navbar-dashboard {
    @include mdc-text-field-outline-color($as-light-gray); //Border color of the search bar
    @include mdc-text-field-label-color($as-primary-color); //Label color of the search bar
    @include mdc-text-field-ink-color(#FFFFFF); //Text color of the search bar
    @include mdc-text-field-caret-color($as-primary-color); //Cursor color of the search bar
}

#navbar-notifications mdc-icon {
    color: $as-primary-color; //Color of the icon from the search bar
}

///////////////////////////////////////////////////////////////////
// Login Page - /src/app/auth/login
///////////////////////////////////////////////////////////////////

#as-login-form-box {
    @include mdc-text-field-ink-color(#FFFFFF); //Inputs text
    @include mdc-text-field-label-color(#FFFFFF); //Label from the inputs
    @include mdc-text-field-caret-color($as-primary-color); //Bottom line
}

#as-login-form-content #as-login-check-logged {
    @include mdc-checkbox-ink-color($as-primary-color); //Tick "stay logged check"
    @include mdc-checkbox-container-colors($as-primary-color); //Border of checkbox
}

///////////////////////////////////////////////////////////////////
// Forgot Password Page - /src/app/auth/forgot
///////////////////////////////////////////////////////////////////

#as-forgot-form-box {
    @include mdc-text-field-ink-color(#FFFFFF); //Inputs text
    @include mdc-text-field-label-color(#FFFFFF); //Label from the inputs
    @include mdc-text-field-caret-color($as-primary-color); //Bottom line
}

///////////////////////////////////////////////////////////////////
// Register Page - /src/app/auth/register
///////////////////////////////////////////////////////////////////

#as-register-form-box {
    @include mdc-text-field-ink-color(#FFFFFF); //Inputs text
    @include mdc-text-field-label-color(#FFFFFF); //Label from the inputs
    @include mdc-text-field-caret-color($as-primary-color); //Bottom line
}
#as-register-form-content #as-register-gender select { //Gender
    color: #FFFFFF;
}

#as-register-form-content #as-register-currency select, #as-register-form-content #as-register-country select {
    color: #FFFFFF;
}

#as-register-form-content #as-register-check-logged {
    @include mdc-checkbox-ink-color($as-primary-color); //Tick "stay logged check"
    @include mdc-checkbox-container-colors($as-primary-color); //Border of checkbox
}

///////////////////////////////////////////////////////////////////
// Renew Password Page - /src/app/auth/renew-password
///////////////////////////////////////////////////////////////////

#as-renew-password-form-box {
    @include mdc-text-field-ink-color(#FFFFFF); //Inputs text
    @include mdc-text-field-label-color(#FFFFFF); //Label from the inputs
    @include mdc-text-field-caret-color($as-primary-color); //Bottom line
}

///////////////////////////////////////////////////////////////////
// Profile Page (Settings) - /src/app/dashboard/profile/settings
///////////////////////////////////////////////////////////////////

#as-profile-settings {
    @include mdc-text-field-ink-color(#FFFFFF); //Inputs text
    @include mdc-text-field-label-color(#FFFFFF); //Label from the inputs
    @include mdc-text-field-caret-color($as-primary-color); //Bottom line
}

///////////////////////////////////////////////////////////////////
// Lobby Page (Versus) - /src/app/dashboard/versus/lobby/stats
///////////////////////////////////////////////////////////////////

#sendtext-box {
    @include mdc-text-field-ink-color(#FFFFFF); //Inputs text
    @include mdc-text-field-label-color(#FFFFFF); //Label from the inputs
    @include mdc-text-field-outline-color($as-primary-color); //Border color of the mdc text field
}

///////////////////////////////////////////////////////////////////
// Questionary dialog - /src/app/shared/dialogs/questionary
///////////////////////////////////////////////////////////////////

.as-radio-buttons {
    @include mdc-radio-ink-color($as-primary-color);
    @include mdc-radio-unchecked-stroke-color($as-primary-color);
    @include mdc-radio-checked-stroke-color($as-primary-color);
}

///////////////////////////////////////////////////////////////////
// Choose server - /src/app/dashboard/versus
///////////////////////////////////////////////////////////////////

#as-versus-server {
    @include mdc-text-field-ink-color(#000000); //Inputs text
    @include mdc-text-field-label-color(#000000); //Label from the inputs
    @include mdc-text-field-caret-color($as-primary-color); //Bottom line
}

#as-game-button-server .mdc-select__native-control, #as-game-button-server label {
    font-weight: bold;
}