/////////////////////////////////////////
//      CSS QUESTIONARY FRIENDS
/////////////////////////////////////////

@import "src/arena_theme.scss";

#as-versus-questionary {
    background-color: $as-secondary-color;
    margin-left: 14em;
    transition: 0.4s ease-in-out;
    height: 10em;
    width: 40em;
    text-align: center;
}

.as-versus-questionary {
    font-family: $as-primary-font;
    text-transform: uppercase;
    padding: 1em;
    color: $as-white-color;
}

#as-versus-pop-up-title {
    font-weight: 700;
}

mdc-form-field label {
    color: white;
}

.button-send-right {
    width: 12em;
    margin-right: 4em;
}

.button-send-left {
    width: 12em;
    margin-left: 4em;
}
