<mdc-dialog>
  <mdc-dialog-container>
      <mdc-dialog-surface id="as-versus-questionary" class="as-versus-questionary">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div mdcHeadline5 id="as-versus-pop-up-title">{{question}}</div>
          </div>
          <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone as-radio-buttons">
            <button class="button-send-left" (click)="sendYes()" mdc-button outlined>Yes</button>
          </div> 
          <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone as-radio-buttons">
            <button class="button-send-right" (click)="sendNo()" mdc-button outlined>No</button>
          </div> 
        </div>
      </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
