/* >>>>> CONTENT OF 1vs1 MATCH RESULTS <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-1vs1-match-results {
    color: #FFFFFF;
    font-family: $as-primary-font;
}

#as-1vs1-match-results-inner-content {
    width: 90%;
    margin: 0 auto;
}

#ones-team1 {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}

#ones-team2 {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1em;
}

#ones-team1 hr, #ones-team2 hr {
    margin-bottom: 2em;
}

#ones-team1-name {
    text-align: left;
}

#ones-team2-name {
    text-align: right;
}

#ones-team1-result, #ones-team2-result {
    text-align: right;
}

.ones-stk {
    color: $as-primary-color;
}

.ones-win {
    color: $as-light-green;
}

.ones-lose {
    color: $as-light-red;
}

.ones-tables {
    overflow-x: auto;
}

.ones-img img {
    width: 7em;
    border-radius: 0.3em;
}

.ones-rounds {
    font-size: 3em;
}

.as-ones-both-results-table {
    width: 98%;
    border-radius: 0.3em;
    border-collapse: collapse;
    background-color: $as-sos-gray;
    overflow: auto;
}

.as-ones-win-user {
    box-shadow: 0em 0em 0.5em $as-light-green;
}

.as-ones-lose-user {
    box-shadow: 0em 0em 0.5em $as-light-red;
}

.ones-results-row-titles div {
    font-weight: 700;
}

.ones-results-row-titles th {
    height: 2em;
}

.ones-results-row-data td {
    height: 3em;
    font-size: 1.3em;
}

.as-ones-both-results-table tr:nth-child(even) {
    background-color: $as-secondary-color;
}

.as-ones-both-results-table tr:last-child td:first-child { border-bottom-left-radius: 0.3em; }
.as-ones-both-results-table tr:last-child td:last-child { border-bottom-right-radius: 0.3em; }

.as-ones-both-results-table th, .as-ones-both-results-table td {
    text-align: center;
}

.as-ones-both-results-table th {
    text-align: center;
}

.ones-results-row-data img {
    width: 2.5em;
    height: 2.5em;
}

#ones-play-again-button {
    text-align: center;
    padding-top: 3em;
}

#ones-play-again-button a {
    font-weight: 700;
    font-size: 1.6em;
    padding: 1em;
    box-shadow: 0em 0em 0.5em #FFFFFF;

    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1460px) {

}

@media (max-width: 1400px) {
    
}

@media (max-width: 1330px) {
    
}

@media (max-width: 1250px) {
    
}

@media (max-width: 1024px) {

}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #ones-team1-name, #ones-team2-name, #ones-team1-result, #ones-team2-result {
        text-align: center;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 590px) {

}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    #ones-team1 {
        padding-left: 1em;
        padding-right: 1em;
    }
    
    #ones-team2 {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (max-width: 400px) {
    
}