<div id="as-1vs1-match-results" class="mdc-layout-grid">
    <div id="as-1vs1-match-results-inner-content" class="mdc-layout-grid__inner">
      <div id="ones-team1" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-layout-grid__inner">
          <div *ngFor="let player of team1" id="ones-team1-name" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div mdcHeadline4>{{player.user}}</div>
          </div>
        </div>
        <hr />
        <div class="mdc-layout-grid__inner">
          <div class="as-center ones-img mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <img src="/assets/img/dashboard/default_avatar.png" />
            <!--<img *ngIf="player.picture == null" src="/assets/img/dashboard/default_avatar.png" />-->
            <!--<img *ngIf="player.picture != null" src="{{player.picture}}" />-->
          </div>
          <div class="as-center ones-tables mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <table class="as-ones-both-results-table as-ones-win-user">
              <tr class="ones-results-row-titles">
                <th><div mdcSubtitle1>Kills</div></th>
                <th><div mdcSubtitle1>Deaths</div></th>
                <th><div mdcSubtitle1>Headshots</div></th>
                <th><div mdcSubtitle1>Headshots %</div></th>
                <th><div mdcSubtitle1>STK</div></th>
              </tr>
              
              <tr *ngFor="let player of team1" class="ones-results-row-data">
                <td>{{player.kills}}</td>
                <td>{{player.deaths}}</td>
                <td>{{player.headshots}}</td>
                <td>{{((player.headshots / (player.kills == 0 ? 1 : player.kills))*100) | number: '2.1-2'}}</td>
                <td class="ones-stk">20</td>
              </tr>
            </table>
          </div>
          <div class="as-center mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="ones-rounds" mdcSubtitle1 [ngClass]="team1_score > team2_score ? 'ones-win' : 'ones-lose'">{{team1_score}}</div>
          </div>
        </div>
      </div>
  
      <div id="ones-team2" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div class="mdc-layout-grid__inner">
          <div *ngFor="let player of team2" id="ones-team2-name" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div mdcHeadline4>{{player.user}}</div>
          </div>
        </div>
        <hr />
        <div class="mdc-layout-grid__inner">
          <div class="as-center mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <div class="ones-rounds" mdcSubtitle1 [ngClass]="team1_score > team2_score ? 'ones-win' : 'ones-lose'">{{team2_score}}</div>
          </div>
          <div class="as-center ones-tables mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <table class="as-ones-both-results-table as-ones-lose-user ">
              <tr class="ones-results-row-titles">
                <th><div mdcSubtitle1>Kills</div></th>
                <th><div mdcSubtitle1>Deaths</div></th>
                <th><div mdcSubtitle1>Headshots</div></th>
                <th><div mdcSubtitle1>Headshots %</div></th>
                <th><div mdcSubtitle1>STK</div></th>
              </tr>
              
              <tr *ngFor="let player of team2" class="ones-results-row-data">
                <td>{{player.kills}}</td>
                <td>{{player.deaths}}</td>
                <td>{{player.headshots}}</td>
                <td>{{((player.headshots / (player.kills == 0 ? 1 : player.kills))*100) | number: '2.1-2'}}</td>
                <td class="ones-stk">20</td>
              </tr>
            </table>
          </div>
          <div class="as-center ones-img mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
            <img src="/assets/img/dashboard/default_avatar.png" />
            <!--<img *ngIf="player.picture == null" src="/assets/img/dashboard/default_avatar.png" />-->
            <!--<img *ngIf="player.picture != null" src="{{player.picture}}" />-->
          </div>
        </div>
      </div>
  
      <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <div id="ones-play-again-button" class="as-center">
          <a (click)="endMatch()" title="Versus" class="animated pulse" mdc-button primary>PLAY AGAIN!</a>
        </div>
      </div>
  
    </div>
  </div>