/* >>>>> TEAMS <<<<< */ //By Román

@import "src/arena_theme.scss";

////////////////////////////////////////

#as-teams {
    color: #FFFFFF;
    background-color: $as-dashboard-background-color;
    font-family: $as-primary-font;
    padding: 0;
}

////////////////////////////////////////
// Teams Banner
////////////////////////////////////////
