<div id="as-teams" class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner" id="as-teams-banner">
    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
      <ng-container *ngIf="true">
        <p>teams works!</p>
        You are not in a team.<br />
        Create it or join in.
      </ng-container>
    </div>
  </div>
</div>