<ng-container *showIfLoggedIn="true">
  <ng-container *ngIf="has_steam_id == false">
    <div class="mdc-layout-grid__inner" id="as-versus-sign-steam-row">
      <div id="as-versus-sign-steam-text" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <h1 class="mdc-typography--headline3">Before play, you must sign in with Steam!</h1>
        <h3 class="mdc-typography--headline6">(You will need to log out and log in)</h3>
      </div>
      <div id="as-versus-sign-steam" class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <a target="_blank" href="{{ url + (token$ | async) }}">
          <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" width="180" height="35" />
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="has_steam_id == true"><ng-container *showIfMatchFinded="false">
    <div id="as-versus" class="mdc-layout-grid">
      <div id="as-games" class="mdc-layout-grid__inner">
        <div (click)="gameSelected('csgo');" [ngClass]="gameisSelected == 'csgo' ? 'as-game-1-active': 'as-game-1'" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
            <img src="/assets/img/dashboard/versus/seleccsgo.png"/>
        </div>

        <div (click)="gameSelected('pubg');" [ngClass]="gameisSelected == 'pubg' ? 'as-game-1-active': 'as-game-1'" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
          <div class="container">
            <img src="/assets/img/dashboard/versus/selecpubg.png"/>
            <div class="overlay">
              <div class="text">Coming soon</div>
            </div>
          </div>
        </div>

        <div (click)="gameSelected('rocketleague');" [ngClass]="gameisSelected == 'rocketleague' ? 'as-game-1-active': 'as-game-1'" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
          <div class="container">
            <img src="/assets/img/dashboard/versus/selecrl.png"/>
            <div class="overlay">
              <div class="text">Coming soon</div>
            </div>
          </div>
        </div>

        <div (click)="gameSelected('teamfortress');" [ngClass]="gameisSelected == 'teamfortress' ? 'as-game-1-active': 'as-game-1'" class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
          <div class="container">
            <img src="/assets/img/dashboard/versus/selecTF2.png"/>
            <div class="overlay">
              <div class="text">Coming soon</div>
            </div>
          </div>
        </div>
      </div>

      <div mdcMenuSurfaceAnchor #gameMenuAnchor id="as-games-list" class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
          <button mdc-button raised (click)="gamemenu.open = !gamemenu.open">
            Select game
            <mdc-icon id="icon-select-game" class="icon-list" fontSet="fas" fontIcon="fa-angle-down"></mdc-icon>
          </button>
          <mdc-menu #gamemenu (selected)="onMenuSelect($event)" [anchorElement]="gameMenuAnchor" [quickOpen]="false" [fixed]="false" [anchorMargin]="{top: 35, left: 57}">
            <mdc-list>
              <mdc-list-item *ngFor="let game of gamesMenu">
                {{game.name}}
              </mdc-list-item>
            </mdc-list>
          </mdc-menu>
        </div>
      </div>
    
      <div id="as-mode" class="mdc-layout-grid__inner">
        <div id="as-mode-left" class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone" [mdcElevation]="10">
          <h1 class="as-mode-headers" mdcHeadline4>PLAYERS</h1>
          <a *ngIf="in_team == true" id="versus-leave-button" mdc-button secondary outlined (click)="leaveTeam();">LEAVE</a>
          <hr />

          <div id="as-mode-players" class="mdc-layout-grid__inner">
            <div *ngIf="(loading | async) == false" class="as-mode-box-players mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone icon-left">
                    <div *ngIf="enabled==true" class="user-container animated zoomIn">
                      <ng-container *ngIf="friend_team1_in == true">
                        <img class="profile-image-side" src="{{friend_team1.picture}}" title="{{friend_team1.username}}" [mdcElevation]="10"/>
                        <div class="versus-friend-kick-box">
                          <i *ngIf="is_local_leader == true" class="fas fa-times" (click)="dropTeammate(friend_team1_index);"></i>
                          <i *ngIf="is_local_leader == false" class="fas fa-crown"></i>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="friend_team1_in == false">
                        <div class="plus_icon" (click)="inviteFriend();">+</div>
                      </ng-container>
                    </div>

                    <div *ngIf="enabled==true" class="user-container animated zoomIn">
                        <ng-container *ngIf="friend_team2_in == true">
                            <img class="profile-image-side" src="{{friend_team2.picture}}" title="{{friend_team2.username}}" [mdcElevation]="10"/>
                            <div class="versus-friend-kick-box">
                                <i *ngIf="is_local_leader == true" class="fas fa-times" (click)="dropTeammate(friend_team2_index);"></i>
                            </div>
                          </ng-container>
                      <ng-container *ngIf="friend_team2_in == false">
                        <div class="plus_icon" (click)="inviteFriend();">+</div>
                      </ng-container>
                    </div>
                  </div>
    
                  <div class="container_img mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone">
                    <div style="position: relative;">
                      <img *ngIf="(profilePic$ | async) == null" class="profile-image" src="/assets/img/dashboard/default_avatar.png" />
                      <img *ngIf="(profilePic$ | async) != null" class="profile-image" src="{{profilePic$ | async}}" [mdcElevation]="10"/>
                      <div class="versus-leader-kick-box">
                        <i *ngIf="is_local_leader == true" class="fas fa-crown"></i>
                      </div>
                    </div>
                  </div>
    
                  <div class="players-right-row mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone icon-right">
                    <div *ngIf="enabled==true" class="user-container animated zoomIn">
                      <ng-container *ngIf="friend_team3_in == true">
                        <img class="profile-image-side" src="{{friend_team3.picture}}" title="{{friend_team3.username}}" [mdcElevation]="10"/>
                        <div class="versus-friend-kick-box">
                          <i *ngIf="is_local_leader == true" class="fas fa-times" (click)="dropTeammate(friend_team3_index);"></i>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="friend_team3_in == false">
                        <div class="plus_icon" (click)="inviteFriend();">+</div>
                      </ng-container>
                    </div>

                    <div *ngIf="enabled==true" class="user-container animated zoomIn">
                      <ng-container *ngIf="friend_team4_in == true">
                        <img class="profile-image-side" src="{{friend_team4.picture}}" title="{{friend_team4.username}}" [mdcElevation]="10"/>
                        <div class="versus-friend-kick-box">
                          <i *ngIf="is_local_leader == true" class="fas fa-times" (click)="dropTeammate(friend_team4_index);"></i>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="friend_team4_in == false">
                        <div class="plus_icon" (click)="inviteFriend();">+</div>
                      </ng-container>
                    </div>

                  </div>
    
                </div>
            </div>
            <div *ngIf="(loading | async) == true" class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
              <img class="spinner" src="/assets/img/dashboard/spinner.svg">
            </div>
          </div>
    
          <div *ngIf="(loading | async) == false" class="selected-mode-row mdc-layout-grid__inner">
            <div (click)="getNewIndex('prev')" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-1-phone gamemode-left-arrow">
              <a class="select-mode-button-left" mdc-button primary [mdcElevation]="10"><mdc-icon class="arrow_left">keyboard_arrow_left</mdc-icon></a>
            </div>
            <div class="as-mode-box-selector mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-2-phone as-center">
              <div class="mode-selected" [mdcElevation]="10">
                <p>{{modeSelected}}</p>
              </div>
            </div>
            <div (click)="getNewIndex('next')" class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-1-phone gamemode-right-arrow">
              <a class="select-mode-button-right" mdc-button primary [mdcElevation]="10"><mdc-icon class="arrow_right">keyboard_arrow_right</mdc-icon></a>
            </div>
          </div>
        </div>
          
        <div id="as-mode-right" class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet" [mdcElevation]="10">
          <h1 class="as-mode-headers" mdcHeadline4>AMOUNT</h1>
          <hr />
    
          <div id="as-mode-amount" class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone"></div>
            <div class="as-mode-select-amount mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-4-phone">
              <mdc-list *ngIf="is_local_leader == true || in_team == false" (selectionChange)="selectChange($event);" #betList singleSelection>
              <div class="backgraound-img mdc-layout-grid__inner">
                <div #betElements class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone ammount-left-list">
                  <mdc-list-item class="box-select-amount-disabled" [mdcElevation]="5" disabled>1 STK</mdc-list-item>
                  <mdc-list-item disabled class="box-select-amount-disabled" [mdcElevation]="5" disabled>2 STK</mdc-list-item>
                  <mdc-list-item class="box-select-amount-disabled" [mdcElevation]="5" disabled>5 STK</mdc-list-item>
                </div>

                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone ammount-right-list">
                  <mdc-list-item (click)="test(3)" class="box-select-amount" [mdcElevation]="5">10 STK</mdc-list-item>
                  <mdc-list-item class="box-select-amount-disabled" [mdcElevation]="5" disabled>15 STK</mdc-list-item>
                  <mdc-list-item class="box-select-amount-disabled" [mdcElevation]="5" disabled>20 STK</mdc-list-item>
                </div>
              </div>
              </mdc-list>
              <div id="amount-leader-selected" *ngIf="is_local_leader == false && in_team == true">
                <h1 class="mdc-typography--headline4">{{betSelected}} STK</h1>
              </div>
              <div id="leader-region-selected" *ngIf="is_local_leader == false && in_team == true">
                <ng-container [ngSwitch]="region | async">
                  <ng-container *ngSwitchCase="'euw'">
                    <h1 class="mdc-typography--headline6">Region: Europe West</h1>
                  </ng-container>
                  <ng-container *ngSwitchCase="'latam'">
                    <h1 class="mdc-typography--headline6">Region: South America</h1>
                  </ng-container>
                  <ng-container *ngSwitchCase="'none'">
                    <h1 class="mdc-typography--headline6">No Region</h1>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-4-phone"></div>
          </div>
        </div>
        
        <div id="as-game-button-server" class="as-game-button-server mdc-layout-grid__cell--span-5-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
          <mdc-select *ngIf="is_local_leader == true || in_team == false" #region (selectionChange)="onSelectionChange($event)" placeholder="Region" id="as-versus-server" [mdcElevation]="5">
            <option value="euw">Europe West</option>
            <option value="latam">South America</option>
          </mdc-select>
        </div>
        
        <div class="as-game-button-row mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="game-button" *showIfSearching="false">
            <!-- Clase para poner disabled el boton GO (al elemento "a" que esta justo debajo de esta linea): go-button-disabled -->
            <a *ngIf="is_local_leader == true || in_team == false" [ngClass]="((defaultRegion | async) == 'none' || (defaultRegion | async) == null || (betStore | async) == '-1') ? 'go-button-disabled' : ''" (click)="searchMatch()" mdc-button primary raised [mdcElevation]="10">READY!</a>
          </div>
          <div class="game-button" *showIfSearching="true">
            <a *ngIf="is_local_leader == true || in_team == false" (click)="stopSearch();" mdc-button primary raised [mdcElevation]="10">Cancel</a>
            <span *ngIf="is_local_leader == false && in_team == true" class="loading">Searching</span>
          </div>
          <mdc-icon *ngIf="is_local_leader == true || in_team == false" class="icon-info" fontSet="fas" fontIcon="fa-question"></mdc-icon>
          <div id="icon-info-box" class="animated fadeIn">
            <div mdcHeadline6>INFO</div>
            <hr />
            <p class="text-info">Estamos en beta, el ELO no se está utilizando para buscar oponentes, por lo tanto podrías encontrar jugadores con diferente habilidad</p>
          </div>
        </div>
      </div> 
    </div>
  </ng-container>
  <ng-container *showIfMatchFinded="true">
    <app-lobby gameMode="{{modeSelected}}"></app-lobby>
  </ng-container></ng-container>
</ng-container>

<ng-container *showIfLoggedIn="false">
  <div id="as-not-logged" class="mdc-layout-grid__inner">
    <div class="as-text-box mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-1-phone">
      <h3 class="orange-text">IT'S FUNNIER</h3>
      <h3>IF YOU ARE</h3>
      <h3 class="orange-text">REGISTERED</h3>
      <button routerLink="/auth/register" id="button-register" mdc-button dense outlined>REGISTER</button>
      <h3>OR JUST</h3>
      <h3 class="orange-text">LOG IN</h3>
      <button routerLink="/auth/login" id="button-register" mdc-button dense outlined>LOG IN</button>
    </div>
    <div class="as-image-box mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-3-phone">
      <img src="/assets/img/dashboard/gallina.png"/>
    </div>
  </div>
</ng-container>

