/* >>>>> CONTENT OF VERSUS PAGE <<<<< */

@import "src/arena_theme.scss";

////////////////////////////////////////

.spinner {
    width: 14em;
    height: 14em;
    margin-top: 3em;
}

.as-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#as-versus{
    background-color:  $as-dashboard-background-color;
}

.clearfix {
    overflow: auto;
}

////////////////////////////////////////
// Not Logged
////////////////////////////////////////

#as-not-logged {
    background-color:  $as-dashboard-background-color;
    padding-left: 2em;
}

.as-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-text-box {
    font-family: $as-landing-font;
    font-size: 2.5em;
    color: #FFFFFF;
    text-align: center;
}

.as-image-box img {
    width: 50%;
}

.orange-text {
    color: $as-primary-color;
}

#button-register {
    border-color: $mdc-theme-primary;
    transition: 0.2s;
    font-family: $as-landing-font;
    font-weight: 700;
}

#button-register:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

////////////////////////////////////////
// First section - Games
////////////////////////////////////////

#as-games {
    padding-bottom: 3em;
}

.as-game-1 {
    background-color: white; 
    cursor: pointer;
    height: 9em;
    border-radius: 0.3em;
}

.as-game-1:hover {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0.4em;
}

.as-game-1 img {
    width: 100%;
    height: 9em;
    border-radius: 0.2em;
}

.as-game-1-active {
    background-color: $as-primary-color; 
    cursor: pointer;
    height: 9em;
    border-radius: 0.3em;
}

.as-game-1-active:hover {
    background: $as-primary-color;
    border-radius: 0.4em;
}

.as-game-1-active img {
    width: 100%;
    height: 9em;
    border-radius: 0.2em;
}

.container {
    position: relative;
    background-color: white;
    border-radius: 0.3em;
}

.text {
    font-family: $as-primary-font;
    color: black;
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FF6D00;
    border-radius: 0.2em;
}

.container img {
    display: block;
    width: 100%;
    height: 9em;
    border-radius: 0.2em;
}
  
.container:hover .overlay {
    opacity: 0.8;
}

#as-games-list {
    width: 100%;
    text-align: center;
    display: none;
}

#as-games-list div {
    margin-bottom: 1.5em;
}

#as-games-list mdc-menu {
    background-color: $as-secondary-color;
    width: max-content;
}

#as-games-list mdc-list {
    color: #FFFFFF;
}

#icon-select-game {
    padding-left: 1em;
}

.game-active {
    background-color: $as-primary-color;
}

////////////////////////////////////////
// Second section - Mode
////////////////////////////////////////

#as-mode {
    padding-left: 2em;
    padding-right: 2em;
}

.as-players-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#as-mode .as-mode-headers {
    letter-spacing: 0.2em;
    font-family: $as-primary-font;
    color: white;
    text-shadow: 0 0 4px $as-primary-color;
}

#as-mode hr {
    color: $as-secondary-color;
    width: 85%;
    margin-bottom: 1em;
}

#as-mode-right {
    margin-left: 2em;
    text-align: center;
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    border: 1px solid $as-light-gray;
}

#as-mode-left {
    margin-right: 2em;
    text-align: center;
    background-color: $as-secondary-color;
    border-radius: 0.3em;
    border: 1px solid $as-light-gray;
    position: relative;
}

#versus-leave-button {
    position: absolute;
    right: 1em;
    top: 1em;
}

.versus-friend-kick-box i {
    color: $as-light-red;
    position: absolute;
    top: -0.5em;
    right: -0.35em;
    cursor: pointer;
    font-size: 1.2em;
}

.versus-friend-kick-box .fa-times {
    color: $as-light-red;
}

.versus-friend-kick-box .fa-crown {
    color: #ffff00;
}

.user-container {
    position: relative;
}

////////////////////////////////////////
// Selector mode
////////////////////////////////////////

#as-mode-players {
    padding-bottom: 1em;
}

.as-mode-box-players {
    border-radius: 0.3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.icon-left, .icon-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-leader-kick-box i {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    cursor: pointer;
    font-size: 1.2em;
}

.versus-leader-kick-box .fa-times {
    color: $as-light-red;
}

.versus-leader-kick-box .fa-crown {
    color: #ffff00;
}

.profile-image {
    width: 11em;
    height: 11em;
    border-radius: 0.3em;
}

.profile-image-side {
    height: 5.5em;
    width: 5.5em;
    border-radius: 0.3em;
    margin-bottom: 1em;
}

.plus_icon {
    width: 1.3em;
    border: 2px solid $as-primary-color;
    border-radius: 0.1em;
    font-size: 4em;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 4px $as-primary-color;
}

.plus_icon:hover {
    background: $as-secondary-color;
    opacity: 0.2;
}

.selected-mode-row {
    padding-bottom: 1em;
}

.select-mode-button-left {
    width: auto;
    border-radius: 0.3em;
    margin-left: 1.4em;
    @include mdc-button-container-fill-color($as-light-gray);
    @include mdc-button-icon-color($as-primary-color);
}

.select-mode-button-right {
    width: auto;
    border-radius: 0.3em;
    margin-right: 1.4em;
    @include mdc-button-container-fill-color($as-light-gray);
    @include mdc-button-icon-color($as-primary-color);
}

.arrow_left {
    padding-left: 0.4em;
}

.arrow_right {
    padding-left: 0.4em;
}

.as-mode-box-selector {
    display: flex;
    justify-content: center;
}

.mode-selected {
    width: 10em;
    font-family: $as-primary-font;
    border-radius: 0.3em;
    border: 0px solid #000000;
    background-color: $as-primary-color;
    color: black;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
}

.gamemode-left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.3em;
}

.gamemode-right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.3em;
}

.mode-selected p {
    font-weight: 700;
}

////////////////////////////////////////
// Go Button
////////////////////////////////////////

.as-game-button-row {
    margin-top: 2em;
    //width: 100%;
    //text-align: center;
}

.as-game-button-server {
    margin-top: 2em;
    text-align: right;
    font-weight: bold;
}

#as-game-button-server {
    font-weight: 700;
}

.game-button {
    transition: 0.2s ease;
    display: inline;
}

.game-button a{
    color: #000000;
    font-weight: 700;
    font-size: 2.5em;
    height: auto;
    padding-left: 1.7em;
    padding-right: 1.7em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    transition: 0.2s ease;
}

.game-button a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s ease;
}

.go-button-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.45;
}

.game-button span{
    color: #FFFFFF;
    font-size: 2em;
    font-family: $as-primary-font;
    height: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    transition: 0.2s ease;
}

.icon-info {
    color: black;
    background-color: $as-primary-color;
    border-radius: 50%;
    padding: 1em;
    font-size: 1em;
    margin-left: 1em;
    cursor: pointer;
}

#icon-info-box {
    width: 13em;
    color: white;
    background-color: #303030;
    padding: 0.5em;
    font-family: "Roboto", sans-serif;
    border-radius: 0.3em;
    border: 1px solid #595959;
    display: none;
    position: absolute;
    margin: 0 auto;
    margin-left: 1em;
    bottom: -2em;
    animation-play-state: paused;
    text-align: center;
}

#icon-info-box > div {
    color: $as-primary-color;
}

.text-info {
    font-size: 0.8em;
}

.icon-info:hover + #icon-info-box {
    display: inline-block;
    animation-play-state: running;
    
}
  
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
    animation: ellipsis steps(4,end) 2000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
} 
  
@keyframes ellipsis {
    to {
    width: 1em;    
    }
}
  
@-webkit-keyframes ellipsis {
    to {
        width: 1em;    
    }
}

#as-versus-server {
    background-color: $as-primary-color;
    width: 12em;
    margin-top: 0.3em;
}

#as-versus-server option {
    background-color: #FFFFFF; //#a5a5a5
    color: #000000;
}

////////////////////////////////////////
// Third Section - Amount
////////////////////////////////////////

#as-mode-amount {
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
}

.as-mode-select-amount {
    width: 90%;
}

.ammount-left-list {
    width: 80%;
    margin: 0 auto;
}

.ammount-right-list {
    width: 80%;
    margin: 0 auto;
}

.box-select-amount {
    font-family: $as-primary-font;
    border-radius: 0.3em;
    border: 0px solid #000000;
    background-color: $as-light-gray;
    color: #FFFFFF;
    margin-bottom: 3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.box-select-amount:last-child {
    margin-bottom: 0;
}

.box-select-amount-disabled {
    font-family: $as-primary-font;
    border-radius: 0.3em;
    border: 0px solid #000000;
    background-color: $as-light-gray;
    color: #FFFFFF;
    margin-bottom: 3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    opacity: 0.2;
}

#as-mode-amount .mdc-list-item--selected::before {
    opacity: 0.4;
}

.backgraound-img {
    background-image: url('/assets/img/dashboard/versus/monedaApuestasGris.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#as-mode-amount #amount-leader-selected {
    font-family: $as-primary-font;
    color: #FFFFFF;
    padding-top: 3em;
}

#as-mode-amount #leader-region-selected {
    font-family: $as-primary-font;
    color: #FFFFFF;
}

////////////////////////////////////////
// STEAM LOGIN BUTTON
////////////////////////////////////////

#as-versus-sign-steam-row {
    padding-top: 15em;
}

#as-versus-sign-steam-text {
    text-align: center;
    color: #FFFFFF;
    font-family: $as-primary-font;
    font-size: 1.5em;
}

#as-versus-sign-steam {
    text-align: center;
}

/////////////////////////////////////////

//            MEDIA QUERIES            //

/////////////////////////////////////////

@media (max-width: 1670px) {
    
}

@media (max-width: 1570px) {
    
}

@media (max-width: 1470px) {
    
}

@media (max-width: 1400px) {
    
}

@media (max-width: 1355px) {
    
}

@media (max-width: 1330px) {
    .gamemode-left-arrow {
        justify-content: center;
    }
    
    .gamemode-right-arrow {
        justify-content: center;
    }
}

@media (max-width: 1250px) {
    #as-mode-left {
        @include mdc-layout-grid-cell(desktop, 12, 0);
    }

    #as-mode-right {
        @include mdc-layout-grid-cell(desktop, 12, 0);
    }

    .as-mode-select-amount {
        margin-bottom: 2em;
    }
}

@media (max-width: 1180px) {
    
}

@media (max-width: 1120px) {
    
}

@media (max-width: 1136px) {
    .as-text-box {
        font-size: 2.3em;
    }
}

@media (max-width: 1071px) {
    .as-text-box {
        font-size: 2em;
    }
}

@media (max-width: 1035px) {
    
}

@media (max-width: 1024px) {
    
}

@media (max-width: 961px) {
    .as-text-box {
        font-size: 1.8em;
    }
}

@media (max-width: 943px) {
    .as-game-button-row .icon-info {
        margin-top: 1em;
    }
}

@media (max-width: 900px) {
    
}

@media (max-width: 895px) {
    .as-text-box {
        font-size: 1.6em;
    }
}

@media (max-width: 839px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR TABLET GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-mode-right {
        margin-top: 1em;
    }

    .as-game-button-row {
        margin-left: 3em;
    }

    .ammount-left-list {
        width: 70%;
    }
    
    .ammount-right-list {
        width: 70%;
    }

    #as-versus-sign-steam-row {
        padding-top: 10em;
    }

    #as-versus-sign-steam-text {
        font-size: 1.3em;
    }
}

@media (max-width: 785px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 720px) {
    
}

@media (max-width: 650px) {
    
}

@media (max-width: 630px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 590px) {
    .icon-left {
        @include mdc-layout-grid-cell(tablet, 8, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container_img {
        @include mdc-layout-grid-cell(tablet, 8, 0);
    }

    .icon-right {
        @include mdc-layout-grid-cell(tablet, 8, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (max-width: 574px) {
    .as-text-box {
        font-size: 1.4em;
    }
}

@media (max-width: 550px) {
    
}

@media (max-width: 516px) {
    .as-text-box {
        font-size: 1.2em;
    }
}

@media (max-width: 479px) { //OFFICIAL MEDIA QUERY EXCEPTION FOR PHONE GRID LAYAOUT FROM MATERIAL DESIGN.
    #as-games {
        display: none;
    }

    #as-games-list {
        display: inline;
    }
    
    .mode-selected {
        width: 5em;
    }

    .gamemode-left-arrow {
        margin-right: 0;
    }
    
    .gamemode-right-arrow {
        margin-left: 0;
    }

    .ammount-left-list {
        margin-bottom: 2em;
    }

    .game-button a{
        font-size: 2em;
        padding-left: 1.7em;
        padding-right: 1.7em;
        padding-bottom: 0.2em;
    }

    .game-button span{
        font-size: 1.7em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.2em;
    }

    .as-text-box {
        @include mdc-layout-grid-cell(desktop, 12, 0);
        font-size: 2em;
    }

    .as-image-box {
        @include mdc-layout-grid-cell(desktop, 12, 0);
    }
    
    .icon-info {
        display: none;
    }

    #as-versus-sign-steam-row {
        padding-top: 6em;
    }

    #as-versus-sign-steam-text {
        font-size: 1.1em;
    }
}

@media (max-width: 400px) {
    
}